//- Jade DOM for the Enroll dialog. 
//-
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-12
      h4 
        | To use TechGroms you need to register by providing an email address as your user ID and your first and last names.
        | You will be able to log in momentarily after receiving an enrollment email containing your password.
      h5
        | If you are enrolling a child without an email address, please use yours, but the child's name. TechGroms will
        | never abuse your privacy.

  .row
    .col-xs-12
          br
          .col-xs-2
            label.control-label(for="email", style="margin-top:6px;") Your user ID:
          .col-xs-4
            input.form-control#email(type="text" placeholder="Email address")
          .col-xs-6
          br
          br
          br
          .col-xs-2
            label.control-label(for="first", style="margin-top:6px;") Name:
          .col-xs-3
            input.form-control#first(type="text" placeholder="First name" style="width:100%;")
          .col-xs-3
            input.form-control#last(type="text" placeholder="Last name" style="width:100%;")
          .col-xs-4
  .row
    .col-xs-12
          br
          .well#EnrollWell
