//- Jade DOM for the Enroll dialog. 
//-
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-12
      h4 
        | Take advantage of this limited time offer and enroll your child in TechGroms completely for free.
      h4
        | Simply enter an e-mail address for your child
        | along with your e-mail address and then click enroll. (If your child doesn't have one, enter your own e-mail address twice.)
      h4 Your child will be able to log in after you receive an enrollment e-mail with his or her password.
      br

  .row
    .col-xs-12
          br
          .col-xs-2
            label.control-label(for="EmailChild", style="margin-top:6px;") Child's e-mail address
          .col-xs-4
            input.form-control#EmailChild(type="text")
          .col-xs-2
            label.control-label(for="EmailParent", style="margin-top:6px;") Parent's e-mail address
          .col-xs-4
            input.form-control#EmailParent(type="text")
  .row
    .col-xs-12
          br
          .well#EnrollWell
