//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    h4 Optionally enter some search tags. We'll use them to find projects that match.
    h5 If you do enter some tags, projects will have to match each and every one of them to be displayed.
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search tags
      .col-xs-6
        input.form-control#ISSearchInput(type="text" placeholder="Type tags to match here." tabindex=1)
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg0
        .col-xs-12#IStoolstriprow0
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Core projects</b>
          #IStoolstrip0.ScrollRegionRow
      .col-xs-1
    br
    br
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg1
        .col-xs-12#IStoolstriprow1
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Your projects</b>
          #IStoolstrip1.ScrollRegionRow
      .col-xs-1
    br
    br
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg2
        .col-xs-12#IStoolstriprow2
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Others' shared projects</b>
          #IStoolstrip2.ScrollRegionRow
      .col-xs-1
    br
    br
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg3
        .col-xs-12#IStoolstriprow3
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Kit programming products</b>
          #IStoolstrip3.ScrollRegionRow
      .col-xs-1
    br
    br
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg4
        .col-xs-12#IStoolstriprow4
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Classroom programming training coming soon near your home</b>
          #IStoolstrip4.ScrollRegionRow
      .col-xs-1
    br
    br
    br
    .row
      .col-xs-1
      .col-xs-10
        #ISWellMsg5
        .col-xs-12#IStoolstriprow5
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Online programming training coming soon</b>
          #IStoolstrip5.ScrollRegionRow
      .col-xs-1
    br
    br
    br
