//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    | Enter search tags. We'll find any projects that match every tag you enter.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search string
      .col-xs-6
        input.form-control#ISSearchInput(type="text", placeholder="Type your set of tags to match here")
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
      br
    .row
      br
      .col-xs-1
      .col-xs-10(style='margin-left:25px;')
          input#rad1(type='radio' name='sr' value='1' checked)
          span
            | &nbsp;Search only projects that I created.
          br
          input#rad2(type='radio' name='sr' value='2')
          span
            | &nbsp;Search others' public projects.
          br
          input#rad3(type='radio' name='sr' value='3')
          span
            | &nbsp;Search <em>Products</em> and <em>Classes</em>.
      .col-xs-1
    br
    .row
      .well#ISWellMsg(style="display:none;")
      .col-xs-12#IStoolstriprow
        #IStoolstrip.ScrollRegionRow
