//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    h4 Enter search tags. We'll use them to find projects of the type that you select below.
    h5 If you do enter some tags, projects will have to match each and every one of them.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search tags
      .col-xs-6
        input.form-control#ISSearchInput(type="text" placeholder="Type tags to match here." tabindex=1)
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
    br
    br
    .row
      #ISWellMsg0(style="display:none;")
      .col-xs-12#IStoolstriprow0(style="display:none;")
        #IStoolstrip0.ScrollRegionRow
    br
    .row
      #ISWellMsg1(style="display:none;")
      .col-xs-12#IStoolstriprow1(style="display:none;")
        #IStoolstrip1.ScrollRegionRow
    br
    .row
      #ISWellMsg2(style="display:none;")
      .col-xs-12#IStoolstriprow2(style="display:none;")
        #IStoolstrip2.ScrollRegionRow
    br
    .row
      #ISWellMsg3(style="display:none;")
      .col-xs-12#IStoolstriprow3(style="display:none;")
        #IStoolstrip3.ScrollRegionRow
    br
    .row
      #ISWellMsg4(style="display:none;")
      .col-xs-12#IStoolstriprow4(style="display:none;")
        #IStoolstrip4.ScrollRegionRow
    br
    .row
      #ISWellMsg5(style="display:none;")
      .col-xs-12#IStoolstriprow5(style="display:none;")
        #IStoolstrip5.ScrollRegionRow
    br
