//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    h4
      | Enter some search words or a phrase--even a complete sentence.
      | Results will come back roughly in descending order of best match.
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") &nbsp;&nbsp;&nbsp;&nbsp;Search phrase:
      .col-xs-7
        input.form-control#ISSearchInput(type="text" placeholder="Optional. If you enter no search words, we return all available projects." tabindex=1)
      .col-xs-3
        button.btn.btn-info#ISInnerSearchButton Search
    br
    .row.HideIfNonPriv
      .col-xs-1
      .col-xs-10
        #ISWellMsg0
        .col-xs-12#IStoolstriprow0
          h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Core projects</b>
          #IStoolstrip0.ScrollRegionRow
      .col-xs-1
    .HideIfNonPriv
      br
      br
      br
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Your projects</b>
        #ISWellMsg1
        .col-xs-12#IStoolstriprow1
          #IStoolstrip1.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Others' shared projects</b>
        #ISWellMsg2
        .col-xs-12#IStoolstriprow2
          #IStoolstrip2.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Kit programming products</b>
        #ISWellMsg3
        .col-xs-12#IStoolstriprow3
          #IStoolstrip3.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Classroom programming training coming soon near your home</b>
        #ISWellMsg4
        .col-xs-12#IStoolstriprow4
          #IStoolstrip4.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Online programming training coming soon</b>
        #ISWellMsg5
        .col-xs-12#IStoolstriprow5
          #IStoolstrip5.ScrollRegionRow
          br
          br
          br
      .col-xs-1