//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    | Enter search tags. We'll find any projects that match every tag you enter.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search string
      .col-xs-6
        input.form-control#ISSearchInput(type="text", placeholder="Type your set of tags to match here")
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
      br
    .row
      .col-xs-1
      .col-xs-10(style='margin-left:25px;')
        label.checkbox
          input#cb1(type='checkbox')
          | Limit retrieved projects to those I created
        label.checkbox
          input#cb2(type='checkbox')
          | I want to search only <em>master</em> projects, not other users' projects derived from master projects.
      .col-xs-1
    br
    .row
      .well#ISWellMsg(style="display:none;")
      .col-xs-12#IStoolstriprow
        #IStoolstrip.ScrollRegionRow
