//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    h4 Enter search tags. We'll use them to find projects of the type that you select below.
    h5 If you do enter some tags, projects will have to match each and every one of them.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search tags
      .col-xs-6
        input.form-control#ISSearchInput(type="text" placeholder="Type tags to match here." tabindex=1)
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
      br
    .row.nonprivileged(style="display:block;")
      br
      .col-xs-1
      .col-xs-10(style='margin-left:25px;')
          input#rad1(type='radio' name='sr' value='1' checked tabindex=2)
          span
            | &nbsp;Search only for projects that I created or bought.
          br
          input#rad2(type='radio' name='sr' value='2' tabindex=3)
          span
            | &nbsp;Search others' projects.
          br
          input#rad3(type='radio' name='sr' value='3' tabindex=4)
          span
            | &nbsp;Search for <em>Products</em>.
          br
          input#rad4(type='radio' name='sr' value='4' tabindex=5)
          span
            | &nbsp;Search for upcoming <em>Classes</em> near zipcode&nbsp;&nbsp;
          input#Zip(type='text' style="width:3.2em;" placeholder='Zip' tabindex=6)
          br
          input#rad5(type='radio' name='sr' value='5' tabindex=7)
          span
            | &nbsp;Search for upcoming <em>Online Classes</em>.
      .col-xs-1
    .row.privileged(style="display:none;")
      br
      .col-xs-1
      .col-xs-10(style='margin-left:25px;')
          input#rad0P(type='radio' name='srP' value='0' tabindex=2)
          span
            | &nbsp;Retrieve all Core projects, ignoring Search tags.
          br
          input#rad1P(type='radio' name='srP' value='1' checked tabindex=3)
          span
            | &nbsp;Search only for projects that I created.
          br
          input#rad2P(type='radio' name='srP' value='2' tabindex=4)
          span
            | &nbsp;Search others' projects, public or not. (Optionally, enter userName as tag to limit.)
          br
          input#rad3P(type='radio' name='srP' value='3' tabindex=5)
          span
            | &nbsp;Search for <em>Products</em>.
          br
          input#rad4P(type='radio' name='srP' value='4' tabindex=6)
          span
            | &nbsp;Search for <em>Classes</em> (optionally) near zipcode&nbsp;&nbsp;
          input#ZipP(type='text' style="width:3.2em;" placeholder='Zip' tabindex=7)
          br
          input#rad5P(type='radio' name='srP' value='5' tabindex=8)
          span
            | &nbsp;Search for <em>Online Classes</em>.
      .col-xs-1
    br
    .row
      #ISWellMsg(style="display:none;")
      .col-xs-12#IStoolstriprow
        #IStoolstrip.ScrollRegionRow
