//- Jade DOM for the Open Project dialog. 
//-
.well
  .row
    h4 Enter search tags. We'll use them to find projects of the type that you select below.
    h5 If you do enter some tags, projects will have to match each and every one of them.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search tags
      .col-xs-6
        input.form-control#ISSearchInput(type="text" placeholder="Type tags to match here." tabindex=1)
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
    br
    .row
      .col-xs-12
      #ISWellMsg0(style="display:none;")
      #IStoolstriprow0(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Core projects</b>
        #IStoolstrip0.ScrollRegionRow
        br
    br
    br
    .row
      .col-xs-12
      #ISWellMsg1(style="display:none;")
      #IStoolstriprow1(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Your projects</b>
        #IStoolstrip1.ScrollRegionRow
    br
    br
    br
    .row
      .col-xs-12
      #ISWellMsg2(style="display:none;")
      #IStoolstriprow2(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Others' shared projects</b>
        #IStoolstrip2.ScrollRegionRow
    br
    br
    br
    .row
      .col-xs-12
      #ISWellMsg3(style="display:none;")
      #IStoolstriprow3(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Product projects</b>
        #IStoolstrip3.ScrollRegionRow
    br
    br
    br
    .row
      .col-xs-12
      #ISWellMsg4(style="display:none;")
      #IStoolstriprow4(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Classroom classes</b>
        #IStoolstrip4.ScrollRegionRow
    br
    br
    br
    .row
      .col-xs-12
      #ISWellMsg5(style="display:none;")
      #IStoolstriprow5(style="display:none;")
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Online classes</b>
        #IStoolstrip5.ScrollRegionRow
    br
    br
    br
