# Ignore everything.
*

# Don't ignore directories, so we can resurse into them.
!*/

# Do ignore these 3 directories.
node_modules
.DS_Store
public/resources
uploads

# But not keepme.rtf in public/resources.
!public/resources/keepme.rtf
