//- Jade DOM for the AZActivatePPDialog. 
//-
.well
  .row
    h4
        | Use this dialog to finalize, activate or deactivate purchasable projects. For example, once a class starts,
        | deactivate it to prevent users from retrieving it and buying it.
    h5
        | If you're <i>activating</i> a project, this dialog is not meant to load the project for inspection or maintenance of types, comics, etc.
        | You should have checked all that out already by searching for and opening the project to work on it.
    br
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Classes</b>
        #ISWellMsg0
        .col-xs-12#IStoolstriprow0
          #IStoolstrip0.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Online classes</b>
        #ISWellMsg1
        .col-xs-12#IStoolstriprow1
          #IStoolstrip1.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    .row
      .col-xs-1
      .col-xs-10
        h5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Kit programming products</b>
        #ISWellMsg2
        .col-xs-12#IStoolstriprow2
          #IStoolstrip2.ScrollRegionRow
          br
          br
          br
      .col-xs-1
    br
    .row
      .col-xs-2
      .col-xs-10
        span#BlinkingSpan
          | <b>&nbsp;Hold down Shift key while clicking to access users who bought the Purchable Project.</b>