//- Jade DOM for the AZActivatePPDialog. 
//-
.well
  .row
    .col-xs-12
      h4
        | AZActivatePPDialog is where Purchasable Projects are finalized, activated or de-activated.
        | This dialog is not meant to load the project for actual maintenance, just the data from the
        | classes, onlineclasses or products table for editing.
