//- Jade DOM for the AZProjectsDialog. 
//-
.well
  .row
    .col-xs-12
      h4
        | AZProjectsDialog is the place for making non-public projects public. Maybe it will also
        | do Types and Methods. It may also un-quarantine images, videos and sounds.
