//- List of all staticly linked script files.
//- 

//-
script(src="http://code.jquery.com/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/bootstrap-dialog.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js", data-main="js/main.js")
