//- Designer section.
//- 
//- Contains a designer surface and tool scrollable palette.
//-

//- Designer section is a gzsection.
.row.gzsection#designer

  //- First row is the designer.
  .row

    //- Ultimatly the designer surface is a canvas.
    canvas#surfacecanvas(width="1024",height="768")

  //- Second row is the tool-strip row.
  .row

    //- Define a scrollable row.
    .col-xs-12#toolstriprow

      //- Left controller.
      .leftcontroller(data-targetselector="#toolstrip")

      //- Scrollable region.
      #toolstrip

      //- Right controller.
      .rightcontroller(data-targetselector="#toolstrip")

