//- Index--main application markup file.
//- 

//-
doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Include list of staticly referenced CSS files.
    include ./indexstylesheets.jade

  body
    //- Include nav bar DOM--including commic strip.
    include ./indexnavbar.jade

    .rotatelabel#designertext Designer
    .rotatelabel#codetext Code

    .container-fluid

      //- Include the designer element DOM.
      include ./indexdesigner.jade

      //- Include the code element DOM.
      include ./indexcode.jade

    .container
      footer
        .well.text-info Powered by: Node, Express, Body-parser, Jade, Morgan, Less-middleware; jQuery, Require, Bootstrap and Bootstrap-dialog.

    //- Inlcude the list of scripts.
    include ./indexscripts.jade

