extend layout
block content

  .row.gzsection#designer
    .row
      img.center-block(src="./media/images/UV_Grid_HD.jpg")
    br
    br
    .row
      .col-xs-1
        .leftcontroller(data-targetselector="#toolstrip")
      .col-xs-10
        #toolstrip
          - for (var i = 0; i < 27; ++i) {
            .paletteitem(style="left:" + (i * 55 + 5).toString() + "px;")
          - }
      .col-xs-1
        .rightcontroller(data-targetselector="#toolstrip")

  .row.gzsection#code
    .row
      .col-xs-12
        iframe#BlocklyIFrame(src='./blockly/blocklyframe.html')
    .row
      .col-xs-1
        .leftcontroller(data-targetselector="#projectitemsstrip")
      .col-xs-10
        #projectitemsstrip
          - for (var i = 0; i < 5; ++i) {
            .projectitemsitem(id="item" + i, style="left:" + (i * 200 + 5).toString() + "px;")
              h4
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | object #{i}
              hr(width="60%")
              | Events
              .projectsitembutton(id="onclickitem" + i)
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | OnClick
              .projectsitembutton 
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | OnTick
              .projectsitembutton 
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | OnKeyPress
              .projectsitembutton
                img.addprojectitemitembutton(id="addeventbutton" + i, src="./media/images/plus.png")
              br
              | Functions
              .projectsitembutton 
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | CreateShip
              .projectsitembutton 
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | Fire
              .projectsitembutton 
                img.addprojectitemitembutton(id="addfunctionbutton" + i, src="./media/images/plus.png")
              br
              | Properties
              .projectsitembutton 
                span.glyphicon.glyphicon-remove-circle(style="color:red;margin:10px;")
                | Ship
              .projectsitembutton 
                img.addprojectitemitembutton(id="addpropertybutton" + i, src="./media/images/plus.png")
          - }
          .projectitemsitem#additemprojectitem(style="left:" + (5 * 200 + 5).toString() + "px;")
      .col-xs-1
        .rightcontroller(data-targetselector="#projectitemsstrip")
