//- /////////////////////////////////////////
//- List of all staticly linked script files.
//- 

//-
script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/bootstrap-dialog.min.js")
script(src="js/require.min.js", data-main="js/main.js")
