//- Jade DOM for the projects dialog. 
//-
//- Dialog displays 4 main buttons: new, open, clone and search.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-9
      h4 Please specify the type of project you wish to open, create or clone from one of the option-buttons below:
      br
  .row

    //- 4 buttons in a row => xs-3.
    .col-xs-3
      button.btn.NewButton#NewButton
        h3
          | New
        h2
          span.glyphicon.glyphicon-plus-sign
        | Create new.  Select to create a new project from scratch.

    .col-xs-3
      button.btn.OpenButton#OpenButton
        h3
          | Open
        h2
          span.glyphicon.glyphicon-list-alt
        | Open existing.  Select to open one of your existing projects.

    .col-xs-3
      button.btn.TemplatesButton#TemplatesButton
        h3
          | Clone
        h2
          span.glyphicon.glyphicon-briefcase
        | Clone template.  Select to clone a TechGroms project.

    .col-xs-3
      button.btn.SearchButton#SearchButton
        h3
          | Search
        h2
          span.glyphicon.glyphicon-search
        | Search.  Select to search for an existing public project.
.well#TypeWell

