.well
  .row
    .col-xs-9
      h4 Please specify the type of project you wish to open, create or clone from one of the option-buttons below:
      br
  .row
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      button.btn.NewButton#NewButton
        h2
          span.glyphicon.glyphicon-plus-sign
        br
        | Create new.  Select to create a new project from scratch.
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      button.btn.OpenButton#OpenButton
        h2
          span.glyphicon.glyphicon-list-alt
        br
        | Open existing.  Select to open one of your existing projects.
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      button.btn.TemplatesButton#TemplatesButton
        h2
          span.glyphicon.glyphicon-briefcase
        br
        | Clone template.  Select to clone a class project provided by Tech Groms.
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      button.btn.SearchButton#SearchButton
        h2
          span.glyphicon.glyphicon-search
        br
        | Search.  Select to search for an existing public project.
.well#TypeWell

