//////////////////////////////
// Code less file.
//
// Styles for the code region.
//

// Defines the style for the scrollable solution explorer including controls.
#typestriprow 
{
	height:94px;
	overflow:hidden;
}

// Scrollable region of the solution explorer.
#typestrip
{
	position:absolute;

	left:60px;	// Leave room for the left controller.
	top:0px;
	right:60px;	// Leave room for the right.
	bottom:0px;

	overflow:hidden;
	//overflow-x:scroll;
}

// A snigle project "object".
// These objects are positioned by jade loops.
// TODO: rename.
.typestripitem
{
	position:absolute;

	// Total height: 200px;
	top:5px;
	width:85px;	// Just smaller than container.
	height:80px;

	border:1px solid white;
	border-radius:5px;
	background:rgba(0,155,0,0.5);

	overflow:hidden;
	overflow-y:scroll;	// Allow for scolling through the object properties, methods and events.

	&:hover
	{
		background:rgba(255,255,255,0.5);
	}
}

// The button is the selection mechanism for the solution explorer.
.typebutton
{
	border:1px solid #333;
	border-radius:4px;
	background:rgba(10,0,0,0.5);

	margin:4px;
	padding:4px;

	overflow:hidden;

	&:hover
	{
		background:rgba(100,100,100,0.5);
	}
}

// The item that the user clicks to create a new project "object".
#addtypetype
{
	position:absolute;

	top:5px;
	width:190px;
	height:190px;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// The special application type -- an instance therefrom is decorated via the designer.
#apptype
{
	position:absolute;

	top:5px;
	width:190px;
	height:190px;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// The button users click to add a property, method or event to a project object.
.addtypememberbutton
{
	height:32px;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// The Blockly iFrame occupies the entire width and a standard height. 
#BlocklyIFrame
{
	width:100%;
	height:0px;
	background:white;
}

// The region style--set the color.
#code
{
	background:rgba(155,0,155,0.5);
}

#logincode
{
	background:rgba(224,160,65,0.9);
}

.SelectedType
{
	background:rgb(0,40,0) !important;
}

.SelectedTypeMember
{
	background:rgb(0,0,140);
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #2e2a2a;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
