.list-group-item {
  padding: 0px 0px;
}

a.list-group-item {
  color:#337ab7;
}

.twsection
{
  margin-top:5px;
  width:100%;
  margin-bottom:5px;
  padding: 10px;

  overflow:hidden;

  border:1px solid #ddd;
  border-radius:10px;

  background-color:white;
  color:black;
}

/*
.bootstrap-dialog {
  top:130px;
}
*/
.modal {
  top: 50px;
}
.button-as-link {
  background:none!important;
  border:none; 
  padding:0!important;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#069;
  cursor:pointer;
}
.button-as-link:hover{
  text-decoration:underline;
}

.search-button{
  background:url(/media/images/search.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width: 27px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.add-button{
  background:url(/media/images/add.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width: 27px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.computer-button{
  background:url(/media/images/computer.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.delete-button{
  background:url(/media/images/delete.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.edit-button{
  background:url(/media/images/edit.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.internet-button{
  background:url(/media/images/internet.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.TWBody
{
    background:rgb(0,0,128);
    font-size: 18px;
    font-family: arial;
    color:white;
}
.TWParent
{
    /* Must specify a definite height and overflow-y or the scrolling wont work. */ 
    height:200px;
    overflow-y:scroll;
    /* The rest of this file is just display and essentially unimportant. */ 
    background:rgb(128,0,0);
    border-radius:10px;
}
.TWChild
{
    margin:5px;
    padding:5px;
    background:rgb(0,128,0);
    border-radius:10px;
    text-align: center;
}
.TWMethCol1
{
  width:10%;
  float:left;
}
.TWMethCol2
{
  width:58%;
  float:left;
  margin-right:15px;
}
.TWMethCol3
{
  width:10%;
  float:left;
  margin-right:15px;
}
.TWMethCol4
{
}
.TWPropCol1
{
  width:68%;
  float:left;
}
.TWPropCol2
{
  width:10%;
  float:left;
  margin-right:15px;
}
.TWPropCol3
{
}
.TWEvtCol1
{
  width:68%;
  float:left;
}
.TWEvtCol2
{
  width:10%;
  float:left;
  margin-right:15px;
}
.TWEvtCol3
{
}
