.list-group-item {
  padding: 0px 0px;
}

a.list-group-item {
  color:#337ab7;
}

.twsection
{
  margin-top:5px;
  width:100%;
  margin-bottom:5px;
  padding: 10px;

  overflow:hidden;

  border:1px solid #ddd;
  border-radius:10px;

  background-color:white;
  color:black;
}

/*
.bootstrap-dialog {
  top:130px;
}
*/
.modal {
  top: 50px;
}
.button-as-link {
  background:none!important;
  border:none; 
  padding:0!important;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:white;
  cursor:pointer;
}
.button-as-link:hover{
  text-decoration:underline;
}

.search-button{
  background:url(/media/images/search.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width: 27px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.add-button{
  background:url(/media/images/add.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width: 27px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.computer-button{
  background:url(/media/images/computer.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.delete-button{
  background:url(/media/images/delete.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.edit-button{
  background:url(/media/images/edit.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}
.internet-button{
  background:url(/media/images/internet.png) no-repeat center center;
  background-color: azure;
  color:transparent;
  height:27px;
  width:30px;
  outline:0;
  margin:0;
  cursor:pointer;
  border:none;
  font-size:0;
}




.TWBody
{
  /* Must specify a definite height and overflow-y or the scrolling wont work. */ 
  height:200px;
  overflow-y:scroll;
  border-radius:10px;
  border:1px solid black;
  background:rgb(96,96,96);
  color: white;
  font-size: 18px;
  font-family: arial;
}
.TWParent
{
}
.TWChild
{
  display: inline-block;

  width: 100%;
  height: 40px;

  border-radius: 4px;
  text-align: center;

  border:1px solid rgb(64,64,64);
}
.TWMethCol1
{
  display: inline-block;
  height:32px;
  width:10%;
  left:5%;
}
.TWMethCol1Image
{
  height:32px;
  width:100%;
}
.TWMethCol2
{
  display: inline-block;
  width:50%;
  margin-top:4px;
}
.TWMethCol3
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}
.TWMethCol4
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}
.TWPropCol1
{
  display: inline-block;
  height:32px;
  width:60%;
  left:5%;
}
.TWPropCol2
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}
.TWPropCol3
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}
.TWEvtCol1
{
  display: inline-block;
  height:32px;
  width:60%;
  left:5%;
}
.TWEvtCol2
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}
.TWEvtCol3
{
  display: inline-block;
  width:15%;

  border-radius: 4px;
}




.PGBody
{
    background:rgb(0,0,128);
    font-size: 18px;
    font-family: arial;
    color:white;
}
.PGParent
{
    /* Must specify a definite height and overflow-y or the scrolling wont work. */ 
    height: 400px;
    overflow-y: scroll;
    /* The rest of this file is just display and essentially unimportant. */ 
    background: rgb(128,0,0);
    border-radius: 10px;
}
.PGChild
{
    margin: 5px;
    padding: 5px;
    background: rgb(0,128,0);
    border-radius: 10px;
    text-align: center;
    height: 45px;
    display: flex;
}
.PGPropCol1
{
  width: 15%;
  float:left;
}
.PGPropCol2
{
  width: 25%;
  float:left;
}
.PGPropCol3
{
  width: 55%;
  float:left;
}
.PGPropCol4
{
  margin-left: 5px;
}
