// Designer less file.
//
// Styles for the designer region.
//

// Define the row to be 20 px taller than the items--to leave room for a scroll bar, perhaps.
// #toolstriprow
// {
// 	height:70px;
// 	overflow:hidden;
// 	margin:2px;
// }

// This is the scrollable part of the tool-strip.
// #toolstrip
// {
// 	position:absolute;
// 	display:inline-block;

// 	top:0px;
// 	bottom:0px;
// 	left:60px;	// Leave room for the controller.
// 	right:60px;	// Leave room for the controller.

// 	overflow:hidden;
// 	//overflow-x:scroll;
// }

// This is the scrollable part of the vertical tool-strip.
// #toolstripv
// {
// 	position:fixed;
// 	display:inline-block;

// 	top:260px;	// Leave room for the controller.
// 	bottom:1880px;	// Leave room for the controller.
// 	left:0px;
// 	right:120px;

// 	overflow:hidden;
	//overflow-x:scroll;
// }

// The designer is the main region for the designer on the page.
// Leave some space for the navbar at the top.
#designer
{
	margin-top:148px;
	background:rgba(0,0,155,0.5);
}

// The designer container.
#designerwrapper
{
	position:inline-block;

	height:0px;
	margin-left:2%;
	margin-right:2%;
	width:96%;

	overflow:hidden !important;
}

// The designer background canvas element.
#surfacecanvas
{
	height:100%;
	width:100%;

	z-index:10;
	
	cursor:crosshair;

	background:black;
}
