// Designer less file.
//
// Styles for the designer region.
//

// The designer is the main region for the designer on the page.
// Leave some space for the navbar at the top.
#designer
{
	margin-top:60px;
	background:rgba(0,0,155,0.5);
}

// The designer container.
#designerwrapper
{
	position:inline-block;

	height:0px;
	margin-left:2%;
	margin-right:2%;
	width:96%;

	overflow:hidden !important;
}

// The designer background canvas element.
#surfacecanvas
{
	height:100%;
	width:100%;

	z-index:10;
	
	cursor:crosshair;

	background:black;
}
