// Styles for the ScrollRegionV.
//

.ScrollRegionVCol   // this outer div holds .ScrollRegionVTop, .ScrollRegionVSliderContainer and .ScrollRegionVBottom
{
//    top:120px;
    position:fixed;
    background-color:#00ff00;
}

.ScrollRegionVSliderContainer   // this div holds .ScrollRegionVSlider
{
    position:absolute;
    top:40px;
    bottom:40px;
    left:5px;
    right:5px;
    border: 1px solid black;
    border-radius: 4px;
    background: rgb(64,64,64);

    overflow: hidden;
}

.ScrollRegionVSlider        // this div holds images
{
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    background: black;

    overflow: hidden;
}

.ScrollRegionVTop
{
    position:absolute;
    top:5px;
    height:30px;
    right:5px;
    left:5px;
    border: 1px solid black;
    border-radius: 4px;
    background: rgba(0,0,100,0.5);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.ScrollRegionVTop:hover
{
    box-shadow: 0px 0px 60px white;
    font-size:20px;
}

.ScrollRegionVBottom
{
    position:absolute;
    bottom:5px;
    height:30px;
    right:5px;
    left:5px;
    border: 1px solid black;
    border-radius: 4px;
    background: rgba(0,0,100,0.5);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.ScrollRegionVBottom:hover
{
    box-shadow: 0px 0px 60px white;
    font-size:20px;
}

.ScrollRegionVImage:hover
{
    opacity: 1;
}

.ScrollRegionVImage
{
    position:absolute;
    opacity: 0.85;
}

.ScrollRegionVButtonDown
{
    color:red;
}

// The tool item is a single, draggable tool.
.toolstripitem
{
    width:55px;
    height:55px;
    border:1px solid white;
    border-radius:5px;
    background:rgba(155,0,0,0.5);

    &:hover
    {
        background:rgba(255,255,100,0.5);
    }
}

.comicspanelstripitem
{
    width:160px;
    height:110px;
    border:1px solid white;
    border-radius:5px;
    background:rgba(155,0,0,0.5);

    &:hover
    {
        background:rgba(255,255,100,0.5);
    }
}

.tooltip.right .tooltip-inner 
{
    background-color:yellow;
    color:black;
}

.tooltip.right .tooltip-arrow
{
    border-right-color:yellow;
}
