// Main style file.
//
// Defines site-wide styles.
//

@base: #000;

@NewColor: #aa0;
@OpenColor: #a0a;
@TemplatesColor: #0aa;
@SearchColor: #a66;

@HoverAdditive: #222;

@import "designer";
@import "code";
@import "projects";
@import "navbar";
@import "search";
@import "scrollRegion";
@import "scrollRegionV";

body
{
	background-color:@base;
}

// The gzsections are the code and designer regions.
// These are the main visible section of the application.
// Perhaps replace this with bootstrap panel?
.gzsection
{
	margin-top:5px;
	margin-right:40px;
	margin-left:40px;
	margin-bottom:5px;
	padding:10px;

	overflow:hidden;

	border:1px solid #ddd;
	border-radius:10px;
48
	color:white;
}

// The scrollable controller on the left size.
.leftcontroller
{
	position:absolute;
	display:inline-block;

	left:0px;
	top:0px;
	bottom:0px;
	width:60px;	// Note, fits in with the scrollable region.

	background-image:url("../media/images/left.png");
	background-size:40px 60px;
	background-repeat:no-repeat;
	background-position:center;

	overflow:hidden;
	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// The scrollable controller on the right size.
.rightcontroller
{
	position:absolute;
	display:inline-block;

	right:0px;
	top:0px;
	bottom:0px;
	width:60px;	// Note, fits in with the scrollable region.

	background-image:url("../media/images/right.png");
	background-size:40px 60px;
	background-repeat:no-repeat;
	background-position:center;

	overflow:hidden;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// Hides snippet code from DOM.
.SnippetContext
{
	display:hidden;
}

// Set global rule for context menus.
.contextMenuItem
{
	cursor: Pointer;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

// Special settings for navbar to make dropdowns look good.
@bgDefault      : #352e37;
@bgHighlight    : #352e37;
@colDefault     : #ecf0f1;
@colHighlight   : #e9e2f1;
@dropDown       : true;
.ddm() when (@dropDown) {
  > .dropdown-menu {
    background-color: @bgDefault;
    > li > a {
      color: @colDefault;
      &:hover,  &:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight;}}}
.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus { 
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}
      .ddm }
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}

// Disabled dropdown customization
.dropdown-menu > .disabled{
 cursor: default; 
}

.dropdown-menu > .enabled{
  &:hover
  {
    background:rgba(255,255,100,0.5);
  }
 }
 
.dropdown-menu > .disabled > a{
 pointer-events: none;
}
