@base: #000;

@NewColor: #aa0;
@OpenColor: #a0a;
@TemplatesColor: #0aa;
@SearchColor: #a66;

@HoverAdditive: #222;

body
{
	background-color:@base;
}

.gzsection
{
	color:white;
	margin:40px;
	overflow:hidden;
	border:1px solid #ddd;
	border-radius:10px;
	padding:10px;
}

#toolstrip
{
	height:80px;
	position:relative;
	overflow:hidden;
	overflow-x:scroll;
}

.leftcontroller
{
	position:relative;

	height:80px;

	background-image:url("../media/images/left.png");
	background-size:40px 60px;
	background-repeat:no-repeat;
	background-position:center;

	overflow:hidden;
	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

.rightcontroller
{
	position:relative;

	height:80px;

	background-image:url("../media/images/right.png");
	background-size:40px 60px;
	background-repeat:no-repeat;
	background-position:center;

	overflow:hidden;
	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}

#commicstrip
{
	height:80px;
	position:relative;
	overflow:hidden;
	overflow-x:scroll;
}
.commicframe
{
	position:absolute;
	top:8px;
	width:64px;
	height:64px;

	background:#666;
	border:1px solid black;
	border-radius:10px;

	overflow:hidden;
	overflow-y:scroll;

	&:hover
	{
		background:rgba(255,255,100,0.5);
	}
}





#projectitemsstrip
{
	height:210px;
	position:relative;
	overflow:hidden;
	overflow-x:scroll;
}
.projectitemsitem
{
	position:absolute;
	width:190px;
	height:190px;

	padding:2px;
	border:1px solid white;
	border-radius:5px;
	background:rgba(0,155,0,0.5);

	overflow:hidden;
	overflow-y:scroll;

	&:hover
	{
		background:rgba(255,255,255,0.5);
	}
}
.projectsitembutton
{
	border:1px solid #333;
	border-radius:4px;
	background:rgba(10,0,0,0.5);

	margin:4px;
	padding:4px;

	overflow:hidden;

	&:hover
	{
		background:rgba(100,100,100,0.5);
	}
}
.projectsitembuttonhighlight
{
	background:rgba(210,150,0,0.5);
}
#additemprojectitem
{
	position:absolute;
	top:5px;
	width:190px;
	height:190px;

	background-image:url("../media/images/plus.png");
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}
.addprojectitemitembutton
{
	height:32px;

	&:hover
	{
		box-shadow: 0px 0px 50px #fff;
	}
}



.paletteitem
{
	position:absolute;
	top:15px;
	height:50px;
	width:50px;

	border:1px solid white;
	border-radius:5px;
	background:rgba(155,0,0,0.5);

	&:hover
	{
		background:rgba(255,255,100,0.5);
	}
}

.selectedCI
{
	background:rgb(100,200,100);
}

#designer
{
	margin-top:148px;
	background:rgba(0,0,155,0.5);
}

#designsurfacewrapperwrapper
{
	width:100%;
	max-width:1024px;
	padding-left:20px;
	padding-right:20px;
}

#designsurfacewrapper
{
	width:100%;
	display: inline-block;
	position: relative;

	&:after
	{
		padding-top:75%;
		display: block;
	    content: '';
	}
}

#designsurface
{
	border:1px solid black;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;

	cursor:crosshair;
}

#surfacecanvas
{
	background:cyan;
	width:100%;
	height:100%;
}

#BlocklyIFrame
{
	width:100%;
	height:640px;	
}

#code
{
	background:rgba(155,0,155,0.5);
}

#ProjectsButton
{
	cursor:pointer;
}

.NewButton
{
	height:200px;
	background-color:@NewColor;
	white-space: normal !important;
	&:hover 
	{
		background-color:@NewColor + @HoverAdditive;
	}
}

.OpenButton
{
	height:200px;
	background-color:@OpenColor;
	white-space: normal !important;
	&:hover 
	{
		background-color:@OpenColor + @HoverAdditive;
	}
}

.TemplatesButton
{
	height:200px;
	background-color:@TemplatesColor;
	white-space: normal !important;
	&:hover 
	{
		background-color:@TemplatesColor + @HoverAdditive;
	}
}

.SearchButton
{
	height:200px;
	background-color:@SearchColor;
	white-space: normal !important;
	&:hover 
	{
		background-color:@SearchColor + @HoverAdditive;
	}
}

.collectionContainer
{
	max-height: 300px;
	overflow-y: scroll;	
}

.projectItem
{
	margin:10px;
}

.projectItemImage
{
	width:100px;
	height:100px;
}

.SnippetContext
{
	display:hidden;
}

.rotatelabel
{
	transform: scale(1,3) rotate(90deg);
}

#designertext
{
	color:white;
	position:absolute;
	left:-20px;
	top:450px;
	padding:10px;

	font:italic 20px Tahoma;
}

#codetext
{
	color:white;
	position:absolute;
	left:-5px;
	top:1260px;
	padding:10px;

	font:italic 20px arial;
}
