//- Jade DOM for the imageSound dialog new snippet. 
//-

.snippetcontext#ImageSoundDialogNewLocalSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewLocalButtonHandler")
.well
  .row
    .col-xs-12
      h4 Click the <em>Open</em> button to find your resource file.
      br
  .row

    .col-xs-2
    .col-xs-3
    .col-xs-2
    .col-xs-3
    .col-xs-2
br
.well#ImageSoundNewLocalWell