//- Jade DOM for the imageSound dialog new snippet. 
//-

.snippetcontext#ImageSoundDialogNewSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewButtonHandler")
.row
  | Type in a search string.  We'll try to find the resource you're looking for.
  br
  .row
    br
    .col-xs-2
      label.control-label(for="SearchInput", style="margin-top:8px;") Search string
    .col-xs-6
      input.form-control#SearchInput(type="text", placeholder="type your search string here")
    .col-xs-4
      button.btn.btn-info#InnerSearchButton Search
  br
  .well#SearchWell