//- Jade DOM for the imageSound dialog new snippet. 
//-

.snippetcontext#ImageSoundDialogNewLocalSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewLocalButtonHandler")
.well
  .row
    .col-xs-7
      h4 Click the <em>Open</em> button to find your resource file.
    .col-xs-2
      button.btn.btn-info#OpenCFDButton Open

br
.well#ImageSoundNewLocalWell