//- Jade DOM for the imageSound dialog new internet snippet. 
//-

.snippetcontext#ImageSoundDialogNewInternetSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewInternetButtonHandler")
.row
  .col-xs-12
    h4 Enter an image URL and click the <em>Retrieve URL</em> button to retrieve your resource file.
    h5 You will be able to use the resource on a temporary basis--until it is judged compliant with TechGroms's standards.
    br
.row
  br
  .col-xs-5
    label.control-label(for="URLInput", style="margin-top:8px;") Image URL
    br
    br
    input.form-control#URLInput(type="text", placeholder="type or paste the resource URL here")
    br
    button.btn.btn-info#RetrieveURLButton Retrieve URL
  .col-xs-7
    img#InternetResourceImage.img-responsive
br
.well#ImageSoundNewInternetWell