//- Jade DOM for the imageSound dialog. 
//-
//- Dialog displays:
//-   buttons: load and search.
//-  It also contains a string for the user to enter search terms
//-  and a strip for displaying the results of a search.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-12
      h4 Please <em>Load a New Resource</em> from your computer or an external URL or <em>Search for an Existing Resource</em> by entering search tags and clicking the Search button below.
      br
  .row

    //- 2 buttons in a row => xs-3.
    .col-xs-5
      button.btn.NewButton#NewButton
        h3
          | New
        h2
          span.glyphicon.glyphicon-plus-sign
        | Create new. Click to load a new resource.
    .col-xs-1
      | OR
    .col-xs-6
      .row
        | Type in your search tags.  If one exists, we'll find the resources that match all of your tags.
        br
        .row
          br
          .col-xs-2
            label.control-label(for="SearchInput", style="margin-top:8px;") Search tags
          .col-xs-6
            input.form-control#SearchInput(type="text", placeholder="type your search tags here")
          .col-xs-4
            button.btn.btn-info#InnerSearchButton Search
  .row
        br
        .well#SearchWell
