//- Jade DOM for the imageSound dialog new internet snippet. 
//-

.snippetcontext#ImageSoundDialogNewInternetSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewInternetButtonHandler")
.well
  .row
    .col-xs-12
      h4 Click the <em>Enter URL</em> button to retrieve your resource file.
      h5 You will be able to use the resource on a temporary basis--until it is judged compliant with TechGroms's standards.
      br
  .row

br
.well#ImageSoundNewInternetWell