//- Jade DOM for the imageSound dialog new snippet. 
//-

.snippetcontext#ImageSoundDialogNewLocalSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewLocalButtonHandler")
.row
  .col-xs-7
    h4 Click the <em>Open</em> button to find your resource file.
  .col-xs-2
    button.btn.btn-info#OpenCommonFileDialogButton Open
    input#resourcename(type='file', name='resourcename', style='visibility:hidden;')
br
.well#ImageSoundNewLocalWell