//- Jade DOM for the imageSound dialog new local snippet. 
//-

.snippetcontext#ImageSoundDialogNewLocalSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewLocalButtonHandler")
.row
  .col-xs-12
    h4 Click the <em>Choose File</em> button to find your resource file.
    h5 You will be able to use the resource on a temporary basis--until it is judged compliant with TechGroms's standards.
.row
  .col-xs-5
    br
    input#imageFile(type="file" name="userImage" accept="image/*")
    #ISPhase2(style="display:none;")
      br
      label.control-label(for="ISTags") Search tags
      br
      textarea.form-control#ISTags(name="tags" spellcheck=true cols=40 rows=2 placeholder="enter one or more tags to help you search for this image")
      br
      button.btn.btn-info#ISSaveBtn Save &amp; Select Image
      | &nbsp;&nbsp;&nbsp;
      button.btn.btn-info#ISResetBtn Reset
  .col-xs-7
      canvas#iSCanvas.img-responsive
br
.well#ISNewLocalWell