//- Jade DOM for the imageSound dialog. 
//-
//- Dialog displays:
//-   buttons: load and search.
//-  It also contains a string for the user to enter search terms
//-  and a strip for displaying the results of a search.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-12
      h4 Please choose <em>New</em> or <em>Search</em> by clicking one of the option buttons below.
      br
  .row

    //- 2 buttons in a row => xs-3.
    .col-xs-6
      button.btn.NewButton#NewResourceButton
        h3
          | New
        h2
          span.glyphicon.glyphicon-plus-sign
        | Create new. Click to load a new resource from your computer or the Internet.
    .col-xs-6
      button.btn.SearchButton#SearchResourceButton
        h3
          | Search
        h2
          span.glyphicon.glyphicon-search
        | Search existing resources. Click to enter tags and begin a search.
.well#ImageSoundWell
