//- Jade DOM for the imageSound dialog new snippet. 
//-
//- Contains 2 buttons: Local and Internet.

.snippetcontext#ImageSoundDialogNewSnippet(data-module="Dialogs/ImageSoundDialog/ImageSoundDialogNewButtonHandler")
.row
  .col-xs-12
    h4 Please choose <em>Local</em> or <em>Internet</em> by clicking one of the option buttons below.
    br
.row

  //- 2 buttons in a row => xs-3.
  .col-xs-2
  .col-xs-3
    button.btn.LocalButton#NewLocalResourceButton
      h3
        | Local
      h2
        span.glyphicon.glyphicon-file
      | Click to load a new resource already on <em>your</em> computer.
  .col-xs-2
  .col-xs-3
    button.btn.InternetButton#NewInternetResourceButton
      h3
        | Internet
      h2
        span.glyphicon.glyphicon-cloud
      | Click to load a resource from the <em>Internet</em> by entering its URL.
  .col-xs-2
br
.well#ImageSoundNewWell