//- Jade DOM for the New Property dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms Property requires a <em>name</em>, a data type and, sometimes, initial value(s).
      br
  .row
    .col-xs-2
        label.control-label(for="PropertyName", style="margin-top:6px;") Name
    .col-xs-10
        input.form-control#PropertyName(type="text", placeholder="Enter Property name.")
    br
    br
  .row
    .col-xs-2
        label.control-label(for="PropertyDataType", style="margin-top:6px;") Data type
    .col-xs-10
        select.form-control#DataType
          option(value=0) Select type...
          option(value=1) Number
          option(value=2) Number range (e.g., 3-27)
          option(value=3) String
          option(value=4) Boolean (e.g., true or false)
          option(value=5) Picklist (e.g., 'John' or 'Jim' or 'Paul' or 'Henry')
          option(value=6) Type
    br
    br
  .row
    .col-xs-2#InitialContainer(style='display:none;')
        label.control-label(for='PropertyInitial', style="margin-top:6px;") Initial value
    .col-xs-10#PropertyInitial
      div#NumberOrStringValue(style='display:none;margin-top:8px;')
        //- for Number, String we give user a textbox
        | Enter a default value or set the Property's value when you use it.
        br
        br
        input.form-control#NumberOrStringInitial(type='text' style='width:200px;')
      div#NumberRangeValue(style='display:none;margin-top:8px;')              
        //- for Number range we give user two textboxes with - between. Entries must be numeric and first < last.
        | Enter the bounds for this Property or set them when you use it.
        br
        br
        .row
          .col-xs-1
            input#RangeFromInitial(type='text' style='width:50px;')
          .col-xs-1
            span(style="text-align:center;")
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;
          .col-xs-1
            input#RangeThruInitial(type='text' style='width:50px;')
      div#BooleanValue(style='display:none;margin-top:8px;')              
        //- for Boolean we give two radio buttons: true and false
        | Choose the default value or set the Property's value when you use it.
        br
        br
        .row
          .col-xs-2
            label
              input#TrueRadio(type='radio' name='bools' value="1" style="width:25px;")
              | &nbsp;true
          .col-xs-2
            label
              input#FalseRadio(type='radio' name='bools' value="0" style="width:25px;")
              | &nbsp;false
      div#PicklistValue(style='display:none;margin-top:8px;')              
        //- for Picklist we give user a textarea
        | Enter values to choose from, separated by a space--just like with search tags.
        br
        br
        textarea.form-control#PicklistInitial(cols=40 rows=2 placeholder='full set of values')
      div#TypeValue(style='display:none;margin-top:8px;')
        //- for Type there is no initialization
        | This Property cannot be initialized until you use it.
      br
      br

