//- /////////////////////////////////////////
//- List of all staticly linked script files.
//- 

//-
script(src="frameworks/jquery/2.1.3/jquery-2.1.3.min.js")
script(src="frameworks/jqueryui/1.11.2/jquery-ui.min.js")
script(src="frameworks/bootstrap/3.3.1/js/bootstrap.min.js")
script(src="frameworks/bootstrap/3.3.1/js/bootstrap-dialog.min.js")
script(src="frameworks/jquery.form/3.51/jquery.form.min.js")
script(src="frameworks/miscellaneous/headroom.min.js")
script(src="frameworks/miscellaneous/jQuery.headroom.min.js")
script
    | var headroom = new Headroom(document.querySelector(".navbar-fixed-top"), {
    |   offset: 105,
    |   tolerance: {
    |        up: 100,
    |        down: 5
    |   }
    | });
    | headroom.init();
script(src="frameworks/require/2.1.15/require.min.js", data-main="js/main.js")
