//- ////////////////////////////////////
//- Index--main application markup file.
//- 

//-
doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    include ./indexstylesheets.jade

  body
    include ./indexnavbar.jade

    .container-fluid

      .row

        .toGetMiddleCol

          //- Include the designer element DOM.
          include ./indexdesigner.jade

          //- Include the code element DOM.
          include ./indexcode.jade

        .toGetLeftCol

          //- Define a scrolling column.
          #toolstrip.ScrollRegionVCol

        .toGetRightCol

          #comicstrip.ScrollRegionVCol

    //- Inlcude the list of scripts.
    include ./indexscripts.jade

