//- Navbar section.
//-
//- Area of general site navigation and major function activation.
//-

//- Navbar is a standard bootstrap type.
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

  //- Fluid.
  .container-fluid

    //- The header defines the minimum-look toggle.
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbarCollapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    //- Main project buttons.
    .navbar-collapse.collapse

      //- Left nav
      ul#main-menu.nav.navbar-nav

        //- Projects.
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Projects&nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
              li#NewProjectLI
                a#NewProjectButton(href="#") New Project...
              li#OpenProjectLI
                a#OpenProjectButton(href="#") Search for/Open Project...
              li#SaveProjectLI
                a#SaveProjectButton(href="#") Save Project...
              li#CloseProjectLI
                a#CloseProjectButton(href="#") Close Project

        //- Adminzone
        li#AdminzoneLI.dropdown(style="display:none;")
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") AdminZone&nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
              li#UsersLI
                a#UsersButton(href="#") Users &amp; Permissions...
              li#ProjectsLI
                a#ProjectsButton(href="#") Projects...
              li#ActivatePPLI
                a#ActivatePPButton(href="#") Purchasable Products...
              li#SiteMaintLI
                a#SiteMaintButton(href="#") Sites...

        //- Sitezone
        li#SitezoneLI.dropdown(style="display:none;")
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") SiteZone&nbsp;
            span.caret
          ul.dropdown-menu(role="menu")
              li#SZUsersLI
                a#SZUsersButton(href="#") Users...
              li#SZProjectsLI
                a#SZProjectsButton(href="#") Projects...
