/////////////////////////////////////////////
//- List of all staticly linked style sheets.
//- 

//-
link(rel="stylesheet", href="frameworks/bootstrap/3.3.6/css/bootstrap.min.css")
link(rel="stylesheet", href="frameworks/jqueryui/1.11.4/jquery-ui.min.css")
link(rel="stylesheet", href="frameworks/bootstrap-dialog/1.34.7/css/bootstrap-dialog.min.css")
link(rel="stylesheet", href="frameworks/powertip/1.2.0/css/jquery.powertip.min.css")
link(rel="stylesheet", href="frameworks/datatables/1.10.11/css/jquery.dataTables.min.css")
link(rel="stylesheet", href="frameworks/datatables/1.10.11/css/dataTables.bootstrap.min.css")
link(rel="stylesheet", href="css/custom_navbar.css")
link(rel="stylesheet", href="css/styleNWC.css")
link(rel="stylesheet", href="css/custom.css")
link#ThemeStyle(rel="stylesheet", href="css/tg.css")
