//- ////////////////////////////////////
//- Index--main application markup file.
//- 

//-
doctype
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Include list of staticly referenced CSS files.
    include ./indexstylesheets.jade

  body
    //- Include nav bar DOM--including commic strip.
    include ./indexnavbar.jade

    .container-fluid

      .row-fluid

        //- Would like .col-xs-.5, but....
        .col-xs-1

          //- Define a scrolling column.
          #toolstrip.ScrollRegionVcol

        .col-xs-10

          //- Include the designer element DOM.
          include ./indexdesigner.jade

          //- Include the code element DOM.
          include ./indexcode.jade

        .col-xs-1

          //- Define a scrolling column.
          #comicpanelsstrip.ScrollRegionVcol

    //- Inlcude the list of scripts.
    include ./indexscripts.jade

