//- Navbar section.
//- 
//- Area of general site navigation and major function activation.
//-

//- Navbar is a standard bootstrap type.
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

  //- Fluid.
  .container-fluid

    //- The header defines the minimum-look toggle.
    .navbar-header
      button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbarCollapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") #{title}

    //- Main project buttons.
    .collapse.navbar-collapse#navbarCollapse
      ul.nav.navbar-nav

        //- Home.
        //- li.active
          //- a(href="#") Home

        //- Projects.
        li.active.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            |  Projects 
            b.caret
            ul.dropdown-menu
              li#NewProjectLI
                a#NewProjectButton(href="#") New Project...
              li#OpenProjectLI
                a#OpenProjectButton(href="#") Search for/Open Project...
              li#SaveProjectLI
                a#SaveProjectButton(href="#") Save Project...
              li#SaveProjectAsLI
                a#SaveProjectAsButton(href="#") Save Project As...
              li#QuickSaveProjectLI
                a#QuickSaveProjectButton(href="#") Quick Save Project
              li#CloseProjectLI
                a#CloseProjectButton(href="#") Close Project

        //- Debug.
        li.active
          a#DebugButton Debug

        //- Themes.
        li.active.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            |  Themes 
            b.caret
            ul.dropdown-menu
              li
                a#UnicornButton(href="#") Unicorn
              li
                a#TechButton(href="#") Tech
        
        //- Adminzone will eventually be hidden to non-admin users
        li.active
          a#AdminzoneButton Adminzone

    //- Comic strip.
    .container

      //- Define a scrolling row.
      .col-xs-12#comicstriprow

        //- Scrollable region.
        #comicstrip.ScrollRegion
