//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
#code

 script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlocklyFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     if (code.BlocklyIFrame_OnLoad) { code.BlocklyIFrame_OnLoad(); code.BlocklyIFrame_OnLoad = null; }
    |     return code;
    |   }
    |   return null;
    | }

 //- The type editing area.
 .twsection#TypeWell
      .row(style="border-bottom: 1px solid #000")
        .col-sm-1
        .col-sm-11
          span(style="font-size:20px;font-weight:bold;")
            | Current Type:&nbsp;&nbsp;&nbsp;
          span#TWtypeName(style="font-size:20px;font-weight:bold;")
          span
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          span(style="font-size:20px;font-weight:bold;")
            | Current Method:&nbsp;&nbsp;&nbsp;
          span#TWmethodName(style="font-size:20px;font-weight:bold;")
      .row
              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Type Actions
                    .col-xs-9
                            button#TWnewTypeBtn.btn.btn-default.disabledifnoproj(type="button" title="Add a new Type")
                              span.glyphicon.glyphicon-plus(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWsearchTypeBtn.btn.btn-default.disabledifnoproj(type="button" title="Search for a new Type")
                              span.glyphicon.glyphicon-search(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWdeleteTypeBtn.btn.btn-default.disabledifnoproj(type="button" title="Delete Current Type")
                              span.glyphicon.glyphicon-trash(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWEditTypeLink.btn.btn-default.disabledifnoproj(type="button" title="Edit Current Type")
                              span.glyphicon.glyphicon-pencil(aria-hidden="true")
                  .row(style="margin-top:20px;")
                    .col-xs-4
                    .col-xs-3
                      br
                      br
                      img#TWimage.img-responsive(title="")

              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Methods
                    .col-xs-5.col-xs-offset-4
                      button#TWaddMethodBtn.btn.btn-default.disabledifnoproj(type="button" title="Add a new Method")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                      | &nbsp;&nbsp;&nbsp;
                      button#TWsearchMethodBtn.btn.btn-default.disabledifnoproj(type="button" title="Search for a new Method")
                          span.glyphicon.glyphicon-search(aria-hidden="true")
                  .row
                    .col-xs-12
                      #TWmethodsTbody.TWBody(style="margin-top:5px;")

              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Properties
                    .col-xs-5.col-xs-offset-4
                      button#TWaddPropertyBtn.btn.btn-default.disabledifnoproj(type="button" title="Add a new Property")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                  .row
                   .col-xs-12
                     #TWpropertiesTbody.TWBody(style="margin-top:5px;")

              .col-sm-3
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Events
                    .col-xs-5.col-xs-offset-4
                      button#TWaddEventBtn.btn.btn-default.disabledifnoproj(type="button" title="Add a new Event")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                  .row
                   .col-xs-12
                     #TWeventsTbody.TWBody(style="margin-top:5px;")

 //- Next the Blockly frame.
 iframe#BlocklyIFrame


