//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
.row.gzsection#code

  script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlockFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     if (code.BlocklyIFrame_OnLoad) { code.BlocklyIFrame_OnLoad(); code.BlocklyIFrame_OnLoad = null; }
    |     return code;
    |   }
    |   return null;
    | }
    | $(function(){$('[data-toggle="tooltip"]').tooltip();})

  //- The type editing area.
  .row.twsection
          | Selected Type:&nbsp;&nbsp;&nbsp;
          input#TWtypeName
          | &nbsp;&nbsp;&nbsp;
          button#TWRenameTypeLink.edit-button(data-toggle="tooltip" title="Rename selected Type")
          .row.vdivide
            .col-sm-3
              br
              .row(style='margin-left:0px;margin-right:0px;')
                  img#TWimage.pull-left(style="height:100px;width=100px;margin-left:20px;margin-top:15px;")
                  .list-group.pull-right(style="width:50%; margin-top:1px;")
                    button#TWimageSearchLink.search-button.list-group-item(data-toggle="tooltip" title="Search for a new image")
                    br
                    button#TWnewImageURLLink.internet-button.list-group-item(data-toggle="tooltip" title="Load a new image using a URL")
                    br
                    button#TWnewImageDiskLink.computer-button.list-group-item(data-toggle="tooltip" title="Load a new image that's on your computer")
              .row(style='text-align: center;')
                    br
                    br
                    button#TWnewTypeBtn.add-button(data-toggle="tooltip" title="Add a new Type")
                    | &nbsp;&nbsp;&nbsp;
                    button#TWsearchTypeBtn.search-button(data-toggle="tooltip" title="Search for a new Type")
                    | &nbsp;&nbsp;&nbsp;
                    button#TWdeleteTypeBtn.delete-button(data-toggle="tooltip" title="Delete this Type")
            .col-sm-3
              .row(style='text-align: center;')
                | Methods
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWmethodsTbody
              .row(style='text-align: center;')
                br
                button#TWaddMethodBtn.add-button(data-toggle="tooltip" title="Add a new Method")
                | &nbsp;&nbsp;&nbsp;
                button#TWsearchMethodBtn.search-button(data-toggle="tooltip" title="Search for a new Method")
            .col-sm-3
              .row(style='text-align: center;')
                | Properties
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWpropertiesTbody
              .row(style='text-align: center;')
                button#TWaddPropertyBtn.add-button(data-toggle="tooltip" title="Add a new Property")
            .col-sm-3
              .row(style='text-align: center;')
                | Events
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWeventsTbody
              .row(style='text-align: center;')
                button#TWaddEventBtn.add-button(data-toggle="tooltip" title="Add a new Event")

  //- Next the Method.
  //-.row#titlerow
  //-  .col-xs-12
  //-    #titlediv

  //- Next the Blockly frame.
  .row
    .col-xs-12
      iframe#BlocklyIFrame

