//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
.row.gzsection#code

  script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlockFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     if (code.BlocklyIFrame_OnLoad) { code.BlocklyIFrame_OnLoad(); code.BlocklyIFrame_OnLoad = null; }
    |     return code;
    |   }
    |   return null;
    | }

  //- First the Method.
  .row#titlerow
    .col-xs-12
      #titlediv

  //- Next the Blockly frame.
  .row
    .col-xs-12
      iframe#BlocklyIFrame

  //- Next the type editing area.
.row
        #TypeWell.panel.panel-success
          .panel-body
            | Type name:&nbsp;&nbsp;&nbsp;
            input#TWtypeName
            | &nbsp;&nbsp;&nbsp;
            a#TWRenameTypeLink(href="#") Rename
          br
          .row.vdivide
            .col-sm-3
              .row(style='margin-left:0px;margin-right:0px;')
                  img#TWimage.pull-left(style="height:100px;width=100px;margin-left:20px;")
                  br
                  a#TWimageSearchLink(href="#") Search for a new Type Image
                  br
                  a#TWnewImageURLLink(href="#") Load a new Type Image using a URL
                  br
                  a#TWnewImageDiskLink(href="#") Load a new Type Image from your computer
              .row(style='margin-left:0px;margin-right:0px;')
                br
                a#TWdeleteTypeLink(href="#" style="margin-left:50px;") Delete this Type
                br
                a#TWnewTypeLink(href="#" style="margin-left:50px;") Add a new Type
                br
                a#TWsearchTypeLink(href="#" style="margin-left:50px;") Search for a new Type
            .col-sm-3
                br
                br
                br
                br
                br
                br
            .col-sm-3
                br
                br
                br
                br
                br
                br
            .col-sm-3
                br
                br
                br
                br
                br
                br
          .row
            #TypeWellMsg2.panel-body(style='text-align: center;')

  //- Next the typestrip.
.row
    .col-xs-12#typestriprow
      #typestrip.ScrollRegion
ul#TypeMemberContextMenu.dropdown-menu(role="menu",style="display:none")
  li
    a.contextMenuItem(tabindex="-1")
      | rename
  //- li.divider
  li
    a.contextMenuItem(tabindex="-1")
      | delete
ul#TypeImageContextMenu.dropdown-menu(role="menu",style="display:none")
  li
    a.contextMenuItem(tabindex="-1")
      | Search for a Type Image
    a.contextMenuItem(tabindex="-1")
      | Load a new Type Image using a URL
    a.contextMenuItem(tabindex="-1")
      | Load a new Type Image that's already on your computer
