//- Designer section.
//- 
//- Contains a designer surface and tool scrollable palette.
//-

//- Designer section is a gzsection.
.row.gzsection#designer

  //- First row is the designer.
  .row

    //- Owns the designer.
    #designerwrapper

      //- Ultimatly the designer surface is a canvas.
      canvas#surfacecanvas(width="1024",height="768")

ul#DesignerContextMenu.dropdown-menu(role="menu",style="display:none")
  li
    a(tabindex="-1")
      | a
  li.divider
  li
    a(tabindex="-1")
      | b

