//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
.row.gzsection#code

  script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlockFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     if (code.BlocklyIFrame_OnLoad) { code.BlocklyIFrame_OnLoad(); code.BlocklyIFrame_OnLoad = null; }
    |     return code;
    |   }
    |   return null;
    | }

  //- The type editing area.
  .row
   .col-xs-12
     .row.twsection#TypeWell
      .row(style="border-bottom: 1px solid #000")
        .col-sm-2.col-sm-offset-5
          span(style="font-size:20px;font-weight:bold;")
            | Current Type:&nbsp;&nbsp;&nbsp;
          span#TWtypeName(style="font-size:20px;font-weight:bold;")
      .row
              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Type Actions
                    .col-xs-9
                            button#TWnewTypeBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Add a new Type" aria-label="Add a new Type")
                              span.glyphicon.glyphicon-plus(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWsearchTypeBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Search for a new Type" aria-label="Search for a new Type")
                              span.glyphicon.glyphicon-search(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWdeleteTypeBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Delete this Type" aria-label="Delete this Type")
                              span.glyphicon.glyphicon-trash(aria-hidden="true")
                            | &nbsp;&nbsp;&nbsp;
                            button#TWRenameTypeLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Rename this Type" aria-label="Rename this Type")
                              span.glyphicon.glyphicon-pencil(aria-hidden="true")
                  .row(style="margin-top:20px;")
                    .col-xs-2
                    .col-xs-2
                      br
                      br
                      br
                      | Image:
                    .col-xs-3
                      br
                      br
                      img#TWimage.img-responsive(data-toggle="tooltip" title="xxx")
                    .col-xs-4
                        button#TWimageSearchLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Search for a new image" aria-label="Search for a new image")
                          span.glyphicon.glyphicon-search(aria-hidden="true")
                        br
                        br
                        button#TWnewImageURLLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new image using a URL" aria-label="Load a new image using a URL")
                          span.glyphicon.glyphicon-cloud(aria-hidden="true")
                        br
                        br
                        button#TWnewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new image that's on your computer" aria-label="Load a new image that's on your computer")
                          span.glyphicon.glyphicon-hdd(aria-hidden="true")
                    .col-xs-1

              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Methods
                    .col-xs-5.col-xs-offset-4
                      button#TWaddMethodBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Add a new Method" aria-label="Add a new Method")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                      | &nbsp;&nbsp;&nbsp;
                      button#TWsearchMethodBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Search for a new Method" aria-label="Search for a new Method")
                          span.glyphicon.glyphicon-search(aria-hidden="true")
                  .row
                    .col-xs-12
                      .table-responsive(style="margin-top:5px;")
                        table.table.table-condensed.table-striped.table-bordered
                          tbody#TWmethodsTbody(style="display:block; overflow:auto; height: 180px;")

              .col-sm-3(style="border-right: 1px solid #000;")
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Properties
                    .col-xs-5.col-xs-offset-4
                      button#TWaddPropertyBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Add a new Property" aria-label="Add a new Property")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                  .row
                   .col-xs-12
                    .table-responsive(style="margin-top:5px;")
                      table.table.table-condensed.table-striped.table-bordered
                        tbody#TWpropertiesTbody(style="display:block; overflow:auto; height: 180px;")

              .col-sm-3
                  .row(style="margin-top:10px;")
                    .col-xs-3
                      span(style='font-weight:bold;')
                        | Events
                    .col-xs-5.col-xs-offset-4
                      button#TWaddEventBtn.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Add a new Event" aria-label="Add a new Event")
                        span.glyphicon.glyphicon-plus(aria-hidden="true")
                  .row
                   .col-xs-12
                    .table-responsive(style="margin-top:5px;")
                      table.table.table-condensed.table-striped.table-bordered
                        tbody#TWeventsTbody(style="display:block; overflow:auto; height: 180px;")

  //- Next the Blockly frame.
  .row
    .col-xs-12
      iframe#BlocklyIFrame


