//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
.row.gzsection#code

  script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlockFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     if (code.BlocklyIFrame_OnLoad) { code.BlocklyIFrame_OnLoad(); code.BlocklyIFrame_OnLoad = null; }
    |     return code;
    |   }
    |   return null;
    | }

  //- The typestrip.
  .row
    .col-xs-12#typestriprow
      #typestrip.ScrollRegion

  //- The type editing area.
  .row.twsection
          | Type name:&nbsp;&nbsp;&nbsp;
          input#TWtypeName
          | &nbsp;&nbsp;&nbsp;
          a#TWRenameTypeLink(href="#") Rename
          .row.vdivide
            .col-sm-3
              br
              .row(style='margin-left:0px;margin-right:0px;')
                  img#TWimage.pull-left(style="height:100px;width=100px;margin-left:20px;")
                  .list-group.pull-right(style="width:290px; margin-right:35px; margin-top:15px;")
                    a#TWimageSearchLink.list-group-item(href="#") Search for a new Type image
                    a#TWnewImageURLLink.list-group-item(href="#") Load a new Type image using a URL
                    a#TWnewImageDiskLink.list-group-item(href="#") Load a new Type image from your computer
              .row(style='text-align: center;')
                    br
                    br
                    button#TWdeleteTypeBtn Delete this Type
                    | &nbsp;&nbsp;&nbsp;
                    button#TWnewTypeBtn Add a new Type
                    | &nbsp;&nbsp;&nbsp;
                    button#TWsearchTypeBtn Search for a new Type
            .col-sm-3
              .row(style='text-align: center;')
                | Methods
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWmethodsTbody
              .row#TWclickMsg(style='text-align: center;display:block;')
                | Click on a Method name to work with it.
              .row(style='text-align: center;')
                br
                button#TWaddMethodBtn Add a new Method
                | &nbsp;&nbsp;&nbsp;
                button#TWsearchMethodBtn Search for a new Method
            .col-sm-3
              .row(style='text-align: center;')
                | Properties
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWpropertiesTbody
              .row(style='text-align: center;')
                button#TWaddPropertyBtn Add a new Property
            .col-sm-3
              .row(style='text-align: center;')
                | Events
              .row
                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered
                    tbody#TWeventsTbody
              .row(style='text-align: center;')
                button#TWaddEventBtn Add a new Event
          .row
            #TypeWellMsg2.panel-body(style='text-align: center;')

  //- Next the Method.
  .row#titlerow
    .col-xs-12
      #titlediv

  //- Next the Blockly frame.
  .row
    .col-xs-12
      iframe#BlocklyIFrame

