//- Code section.
//- 
//- Contains blockly frame and solution explorer.
//-

//- Code section is a gzsection.
.row.gzsection#code

  script
    | function functionBlockChangeListener() {
    | 
    |   if (code) {
    | 
    |     return code.blocklyChangeListener();
    |   }
    |   return null;
    | }
    | function functionBlockFrameLoaded() {
    | 
    |   if (code) {
    | 
    |     return code;
    |   }
    |   return null;
    | }

  //- First the Blockly frame.
  .row
    .col-xs-12
      iframe#BlocklyIFrame

  //- Next the solution explorer.
  .row

    //- Define a scrollable strip.
    .col-xs-12#typestriprow

      //- The left controller.
      .leftcontroller(data-targetselector="#typestrip")

      //- The scrolling region.  Contains projectitemsitem(s).
      #typestrip

      //- The right controller.
      .rightcontroller(data-targetselector="#typestrip")
ul#TypeMemberContextMenu.dropdown-menu(role="menu",style="display:none")
  li
    a(tabindex="-1")
      | rename
  //- li.divider
  li
    a(tabindex="-1")
      | delete
