//- Designer section.
//- 
//- Contains a designer surface and tool scrollable palette.
//-

//- Designer section is a gzsection.
#designer

  //- Ultimatly the designer surface is a canvas.
  canvas#surfacecanvas(ondragstart="return false;",ondrop="return false;")

ul#DesignerContextMenu.dropdown-menu(role="menu",style="display:none")
  li
    a(tabindex="-1")
      | a
  li.divider
  li
    a(tabindex="-1")
      | b

