//- Jade DOM for the projects dialog. 
//-
//- Dialog displays 4 main buttons: new, open, clone and search.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-9
      h4 Please specify if you wish to open, create or clone from one of the option-buttons below:
      br
  .row
    button.btn.NewButton#NewButton
      | New

    button.btn.OpenButton#OpenButton
      | Open

    button.btn.TemplatesButton#TemplatesButton
      | Clone

    button.btn.SearchButton#SearchButton
      | Search
.well#TypeWell

