//- Jade DOM for the projects dialog search snippet. 
//-

.snippetcontext#ProjectsDialogSearchSnippet(data-module="Dialogs/ProjectsDialog/ProjectsDialogSearchButtonHandler")
.row
  | Type in your search tags.  We'll try to find the project you're looking for.
  br
  .row
    br
    .col-xs-2
      label.control-label(for="SearchInput") Search string
    .col-xs-6
      input.form-control#SearchInput(type="text", placeholder="type your search string here")
    .col-xs-4
      button.btn.btn-info#InnerSearchButton Search
  br
  .well#SearchWell