//- Jade DOM for the Method Search dialog. 
//-
.well
  .row
    | Enter search tags. We'll find any Methods that match every tag you enter.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search string
      .col-xs-6
        input.form-control#ISSearchInput(type="text", placeholder="Type your set of tags to match here")
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
      br
    .row
      .col-xs-3
      .col-xs-9
        label.checkbox
          input#cb1(type='checkbox')
          | Limit retrieved Methods to those I created
    br
    .row
      .well#ISWellMsg(style="display:none;")
      .col-xs-12#IStoolstriprow
        #IStoolstrip.ScrollRegionRow
