//- Jade DOM for the New Type dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms Type has a <em>name</em>, a number of <em>tags</em> and an <em>image</em> that will help you or others search for it later.
        | If you create a Type, it will be added to the currently active Comic.
  .row
    .col-xs-12
        .col-xs-2
            label.control-label(for="TypeName", style="margin-top:6px;") Name
        .col-xs-4
            input.form-control#TypeName(type="text", placeholder="Enter Type name.")
        br
        br
        .col-xs-2
            label.control-label(for="TypeTags", style="margin-top:6px;") Search tags
        .col-xs-10
            textarea#TypeTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Enter words to help you search for this Type later.")
  .row
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="TypeImage", style="margin-top:6px;")  Type image
      .col-xs-2
        img#TypeImage.pull-left(style="height:120px;width=120px;")
      .col-xs-8
        br
        a#ImageSearchLink(href="#") Search for a Type Image
        br
        br
        a#NewImageURLLink(href="#") Load a new Type Image using a URL
        br
        br
        a#NewImageDiskLink(href="#") Load a new Type Image that's already on your computer
