//- Jade DOM for the New Type dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms Type must have at least a <em>name</em> before you can save it. It may have a number of <em>tags</em> and an <em>image</em> that will help you or others search for it later.
        | Also, it may optionally be derived from another Type.
        | If you create a Type, it will be added to the currently active Comic.
      br
  .row
    .col-xs-6
        .col-xs-4
            label.control-label(for="TypeName", style="margin-top:6px;") Name
        .col-xs-8
            input.form-control#TypeName(type="text", placeholder="Enter Type name.")
        br
        br
        .col-xs-4
            label.control-label(for="TypeTags", style="margin-top:6px;") Search tags
        .col-xs-8
            textarea#TypeTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Enter words to help you search for this Type later.")
    .col-xs-6
      //- When adding a new Type or editing a non-App and non-system base Type, display a combo for the user to choose an optional base Type
      //- from all other user-added Types in the comic.
      //- When editing the App Type or a system base Type, show its base Type's name. Uneditable.
      #BaseTypeCombo(style="display:none;")
        .col-xs-4
          label.control-label(for="BaseTypeSelect", style="margin-top:6px;") Base Type (opt.)
        .col-xs-8
          #SelectContainer
            select#BaseTypeSelect.form-control
      #BaseTypeName(style="display:none;")
        .col-xs-4
          label.control-label(for="BaseTypeName", style="margin-top:6px;") Base Type
        .col-xs-8
          span#BaseTypeNameSpan(style="margin-top:6px;display:inline-block;")
  .row.tt-selector
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="TypeImage", style="margin-top:6px;")  Type image
      .col-xs-2
        img#TypeImage.img-responsive
      .col-xs-8
        br
        button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" title="Search for a Type Image")
          span.glyphicon.glyphicon-search(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Type Image using a URL")
          span.glyphicon.glyphicon-cloud-download(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Type Image that's already on your computer")
          span.glyphicon.glyphicon-open-file(aria-hidden="true")
