//- Jade DOM for the Delete Confirmation dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | Delete confirmation for Type, Method, Property, Event.
  .row
    .col-xs-12
        .col-xs-2
        .col-xs-4
    
