//- Jade DOM for the Save Project As dialog. 
//-
.well
  .row
    .col-xs-12
      h4#SaveAsH4
      br

  .row
    .col-xs-12
        br
        .col-xs-2
            label.control-label(for="ProjectName", style="margin-top:6px;") Name
        .col-xs-4#PlaceForProjectName
        br
        br
        .col-xs-2
            label.control-label(for="ProjectDescription", style="margin-top:6px;") Description
        .col-xs-10
            textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Optional project description.")
        br
        br
        br
        .col-xs-2
            label.control-label(for="ProjectTags", style="margin-top:6px;") Search tags
        .col-xs-10
            textarea#ProjectTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Enter words to help you search for this project later.")
  .row
    br
    .col-xs-12
      .col-xs-4
        label.control-label(for="ProjectImage", style="margin-top:6px;")  Project image
        br
        img#ProjectImage.pull-left(src="media/images/clicktochange.png" style="height:120px;width=120px;")
      .col-xs-6
      .col-xs-2
        br
        br
        br
        br
        br
        br
        button#SaveProjectBtn.btn.pull-left.btn-info
            | Save Project
  .row
    br
    .col-xs-12
          .well#SaveProjectAsWell
