//- Jade DOM for the Save Project As dialog. 
//-
.well
  .row
    .col-xs-12
      h4#SaveAsH4
      br

  .row
    .col-xs-12
        br
        .col-xs-2
            label.control-label(for="ProjectName", style="margin-top:6px;") Name
        .col-xs-4#PlaceForProjectName
        br
        br
        .col-xs-2
            label.control-label(for="ProjectDescription", style="margin-top:6px;") Description
        .col-xs-10
            textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Optional project description.")
        br
        br
        br
        .col-xs-2
            label.control-label(for="ProjectTags", style="margin-top:6px;") Search tags
        .col-xs-10
            textarea#ProjectTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Enter words to help you search for this project later.")
  .row.tt-selector
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="ProjectImage", style="margin-top:6px;")  Project image
      .col-xs-2
        img#ProjectImage.img-responsive
      .col-xs-8
        button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" title="Search for a Project Image")
          span.glyphicon.glyphicon-search(aria-hidden="true")
        br
        br
        button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Project Image using a URL")
          span.glyphicon.glyphicon-cloud-download(aria-hidden="true")
        br
        br
        button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Project Image that's already on your computer")
          span.glyphicon.glyphicon-open-file(aria-hidden="true")
