// Login page footer with links, copyright, etc.
//
//

.div.footer
  .row
    .col-xs-2
    .col-xs-8
      .col-xs-3
          br
          .h4 About
          | Our Mission
          br
          | Our Team
          br
          | Terms of Use
          br
          | Privacy Policy
      .col-xs-3
          br
          .h4 Support
          | FAQ
          br
          | Support Board
          br
          | Contact Us
      .col-xs-3
          br
          .h4 Careers
          | Intern
          br
          | Full Time
      .col-xs-3
          br
          .h4 Social
          | Facebook
          br
          | Twitter
          br
          | Blog
      .col-xs-2
  .row
    .col-xs-3
      .h6 &copy Copyright 2016 TechGroms LLC. All rights reserved.
    .col-xs-6
    .col-xs-3
