/////////////////////////////////////////////
//- List of all staticly linked style sheets.
//- 

//-
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fredericka+the+Great")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
link(rel="stylesheet", href="frameworks/bootstrap/3.3.6/css/bootstrap.min.css")
link(rel="stylesheet", href="frameworks/bootstrap-dialog/1.34.7/css/bootstrap-dialog.min.css")
link#ThemeStyle(rel="stylesheet", href="css/tg.css")
