// The list of paid products, classes and free projects to try
//
//

.row(style="padding:0 100px 0 100px;")
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: red;")
        | Learn and Experiment with Free Projects
      br
      p
        | Anyone, registered or not, can learn to code using a TechGroms free project. You can create a web site, build a game and more. Feel free to come in and look around. But note that in order to save your project so you can come back to it you will have to register. It's free to register, doesn't require an address or a credit card number, and, if you do, you'll be under no obligation whatsoever.
      #FreeList
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: darkgreen;")
        | Buy a Product
      br
      p
        | Explore our Products. They do cost a bit (not much--really), but their advantage over Free Projects is that they are larger, more intricate, and you'll learn a whole lot more. You do have to login or register to buy a Product.
      br
      #ProductList
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: blue;")
        | Explore and Sign up for a Class
      br
      p
        | A Class is a Product with an instructor and scheduled sessions. Sometimes the class will be entirely on-line and sometimes it will be at a location that is hopefully near you. We'll be adding more and more in-person Classes as we grow. Again, just like for Products, you will have to register and logon to buy a Class.
      br
      #ClassList
