//- Code section of login page.
//- 
//-

//- Code section is a gzsection.
.row.gzsection#code
  div.pull-right
        input#inputName(type='text', placeholder='Enter your name', tabindex='1', style="color:blue; font-family:Verdana; background-color:aliceblue;")
        | &nbsp;&nbsp;&nbsp;
        input#inputPassword(type='password', placeholder='Password', tabindex='2', style="color:blue; font-family:Verdana; background-color:aliceblue;")
        | &nbsp;&nbsp;&nbsp;
        a#signinBtn.btn.btn-primary.btn-sm(tabindex='3') Sign in
        | &nbsp;&nbsp;&nbsp;
        a#forgotLink(tabindex='4') I forgot my password
