//- Code section of login page.
//- 
//-

//- Code section is a gzsection.
//- .row
div.navbar.navbar-default.navbar-fixed-top.navbar-transparent
	div.container
		div.navbar-header
			a.navbar-brand(href="./")
				img(src="../media/images/tg4.png") 
			button.navbar-toggle(type="button",data-toggle="collapse", data-target="#navbar-main")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div.navbar-collapse.collapse#navbar-main
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") Signin
					div.dropdown-menu(style="padding:2px; margin-top:5px; border-radius:10px")
						form.TgLoginForm
							input#inputName.TgLoginInput(name="username", type="text", placeholder="Username") 
							input#inputPassword.TgLoginInput(name="password", type="password", placeholder="Password")
							br
							button.btn#signinBtn(type="button") Login
							br
							a#forgotLink(href="#") I forgot my password
				li
					a#enrollBtn(tabindex='5',target="_blank") Register

	
