// The list of paid products, classes and free projects to try
//
//

.row(style="padding:0 100px 0 100px;")
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: red;")
        | Free Projects
      br
      #FreeList
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: yellow;")
        | Products
      br
      #ProductList
    .col-xs-4(title="" style="border:6px double #545565;border-radius:10px;")
      .h2(style="color: lightblue;")
        | Classes
      br
      #ClassList
