// Marketing, cool pictures, etc.
//
//


div.splash
  div.container-fluid
    div.row
      div.col-lg-12
        h1 An Educational Coding Platform for Everyone!
        h2 Building the next wave of coders
        button.bannerbutton(type="button",width="250",height="30") Get started now
//div.breaksection
  h3 Learn | Create | Teach
div.learnsection
  div.row
    div.breaksection
      h3 Learn | Create | Teach
  div.row
    div.col-md-12
        div.learntitle Learn
  div.row
    div.col-md-6
      div.infosection
        h3 This is just example text that we can put into the section which sits
        |next to the different images for the different sections.
    div.col-md-6
      div.datasection
        img(src="../media/images/typesimage.png" alt="Type Section" height="100%" width="100%")
  div.row
    div.col-md-6
      div.infosection
        h3 This is just example text that we can put into the section which sits
        |next to the different images for the different sections.
    div.col-md-6
      div.datasection
        img(src="../media/images/typesimage.png" alt="Type Section" height="100%" width="100%")
div.createsection
  div.row
    div.col-md-12
      div.learntitle Create
  div.row
    div.col-md-6
      div.infosection
        h4 Jump right in and see how a loop works
div.Teachsection
  div.row
    div.col-md-12
        div.learntitle Teach
  div.row
    div.col-md-6
      div.infosection
        h3 This is just example text that we can put into the section which sits
        |next to the different images for the different sections.
    div.col-md-6
      div.datasection
        img(src="../media/images/typesimage.png" alt="Type Section" height="100%" width="100%")
//
  div.exploresection
      div.row
        div.col-md-12
          h1 Explore
      div.row
        div.col-md-4.col-xs-6
          div.infobox
            h4 Jump right in and see how a loop works
        div.col-md-4.col-xs-6
          div.infobox
            h4 See how to use a variable
        div.col-md-4.col-xs-6
          div.infobox
            h4 Sign up for an online course
    div.teachsection
      div.row
        div.col-md-12
          h1 Teach
      div.row
        div.col-md-4.col-xs-6
          div.infobox
            h4 Jump right in and see how a loop works
        div.col-md-4.col-xs-6
          div.infobox
            h4 See how to use a variable
        div.col-md-4.col-xs-6
          div.infobox
            h4 Sign up for an online course
//random garbage from earlier that I may want to refer to later
  div.row
    div.col-md-4.col-xs-6
      div.infoboxgreen
        h4 Jump right in and see how a loop works
    div.col-md-4.col-xs-6
      div.infoboxred
        h4 See how to use a variable
    div.col-md-4.col-xs-6
      div.infobox
        h4 Sign up for an online course
