//- Jade DOM for the types dialog. 
//-
//- Dialog displays 2 buttons: new, open, clone and search.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-9
      h4 Please choose to create a New type or Search for an existing type by selecting one of the buttons below:
      br
  .row

    //- 2 buttons in a row => xs-3.
    .col-xs-3
      button.btn.NewButton#NewButton
        h3
          | New
        h2
          span.glyphicon.glyphicon-plus-sign
        | Create new.  Select to create a new type from scratch.

    .col-xs-9
      .row
        | Type in your search tags.  We'll try to find the type for which you're searching.
        br
        .row
          br
          .col-xs-2
            label.control-label(for="SearchInput") Search string
          .col-xs-6
            input.form-control#SearchInput(type="text", placeholder="type your search tags here")
          .col-xs-4
            button.btn.btn-info#InnerSearchButton Search
        br
        .well#SearchWell
