//- Jade DOM for class Class box
//-
.well(style="background-color:lightgreen;color:blue")
    .row
        .col-xs-5
            span#Name(style="font-size:1.3em;")
        .col-xs-7
            img#Img.img-responsive
    br
    .row
        .col-xs-12
            span#Description
    br
    .row
        .col-xs-4
            span#Level
        .col-xs-4
            span#Difficulty
        .col-xs-4
            span#Price
    .row
        .col-xs-6
            span#Instructor
        .col-xs-6
            span#Phone
    br
    .row
        .col-xs-2
            | Where:
        .col-xs-10
            span#Where1
            br
            span#Where2
            br
            span#Where3
            br
            span#Where4
            br
            span#Where5
    br
    .row
        .col-xs-2
            | When:
        .col-xs-10
            span#When1
            br
            span#When2
            br
            span#When3
            br
            span#When4
            br
            span#When5
            br
            span#When6
            br
            span#When7
            br
            span#When8
            br
    br
    .row
        .col-xs-2
            | Note:
        .col-xs-10
            span#Note
    br
    .row
        .col-xs-12.text-center
            button
                | Log in and Register Your Child for this Class
    br
