//- Jade DOM for class Class box
//-
.well
    .row
        .col-xs-12
            | Class
            br
            | Class
            br
            | Class
            br
            | Class
            br
            | Class
            br
            | Class
            br
            