//- Jade DOM for free project box
//-
.well
    .row
        .col-xs-12
            | Free
            br
            | Free
            br
            | Free
            br
            | Free
            br
            | Free
            br
