//- Jade DOM for free project box
//-
.well(style="background-color:aliceblue;color:red")
    .row
        .col-xs-5
            span#Name(style="font-size:1.3em;")
        .col-xs-7
            img#Img.img-responsive
    br
    .row
        .col-xs-12
            span#Description
    br
    .row
        .col-xs-12.text-center
            button
                | Try this Project without Logging in
            | &nbsp;&nbsp;&nbsp;
            button
                | Log in and try this Project
    br
