//- Jade DOM for product project box
//-
.well
    .row
        .col-xs-12
            | Product
            br
            | Product
            br
            | Product
            br
            | Product
            br
