//- Jade DOM for product project box
//-
.well(style="background-color:tan;color:darkgreen")
    .row
        .col-xs-5
            span#Name(style="font-size:1.3em;")
        .col-xs-7
            img#Img.img-responsive
    br
    .row
        .col-xs-12
            span#Description
    br
    .row
        .col-xs-4
            span#Level
        .col-xs-4
            span#Difficulty
        .col-xs-4
            span#Price
    br
    .row
        .col-xs-12.text-center
            button
                | Log in and Buy this Prouct
    br
