//- Jade DOM for the AZPPBuyersDialog. 
//-

#ProjectData
  .row
    .col-xs-12
      h5
        | This will ....
  .row
    .col-xs-12
      span Project data will go here
#tabs
  ul
    li
      a(href='#Buyers') Buyers
    li.remove
      a(href='#Waitlisted') Waitlisted
  #Buyers
    .well
      .col-xs-12
        table#BuyersTable.display(style="width:100%")
  #Waitlisted
    .well
      .col-xs-12
        table#WaitlistedTable.display(style="width:100%")
