//- Jade DOM for the AZPPBuyersDialog. 
//-

.row
  .col-xs-12
    #ProjectData
br
#tabs
  ul
    li
      a(href='#Buyers') Buyers
    li.remove
      a(href='#Waitlisted') Waitlisted
    li.remove
      a(href='#Invited') Invited
    li.remove
      a(href='#RecentRefunds') Recent Refunds
  #Buyers
    .well
      .col-xs-12
        table#BuyersTable.display(style="width:100%")
  #Waitlisted
    .well
      .col-xs-12
        h4(style="margin-top:-10px;")
          | Note: You may <em>over-invite</em> at your option.
        table#WaitlistedTable.display(style="width:100%")
  #Invited
    .well
      .col-xs-12
        table#InvitedTable.display(style="width:100%")
  #RecentRefunds
    .well
      .col-xs-12
        table#RecentRefundsTable.display(style="width:100%")
