//- Jade DOM for the Save Project dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | Words
      br

  .row
    .col-xs-12
          br
  .row
    .col-xs-12
          br
          .well#SaveProjectWell
