.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: 1s
    -o-transition: 1s
    -moz-transition: 1s
    -ms-transition: 1s
    transition: transform 1s ease-in-out;
}
.headroom--unpinned {
   top: -100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.headroom--pinned {
   top: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
