/////////////////////////////////////////////
//- List of all staticly linked style sheets.
//- 

//-
link(rel="stylesheet", href="css/bootstrap.min.css")
link(rel="stylesheet", href="css/bootstrap-dialog.min.css")
link#ThemeStyle(rel="stylesheet", href="css/tg.css")
