//- Jade DOM for the Property Grid dialog. 
//-
.well
  .row
    .col-xs-12
      .table-responsive(style="margin-top:5px;")
        table.table.table-condensed.table-striped.table-bordered
          tbody#propertiesTbody(style="display:block; overflow:auto; height: 180px;")
