//- Jade DOM for the Property Grid dialog. 
//-
.well
  .well
      .row
        .col-xs-10
          span
            | You may change this Tool's name. If you do, it will be changed every place it is referenced:
        .col-xs-2
            input.form-control#NewName(type="text" style="margin-top: -8px;")
  .row
    .col-xs-12
      #PropertiesTbody.PGBody(style="margin-top:5px;")
