//- Jade DOM for the types dialog inner search snippet. 
//-

.snippetcontext#TypesDialogInnerSearchSnippet(data-module="Dialogs/TypesDialog/TypesDialogInnerSearchButtonHandler")
| These are the types that we found given your search criteria.  Either refine your search tags or choose from one of the types below to clone.
br
br
.collectionContainer
  each type in types
    button.btn-info.btn.projectItem(id="#{type.id}", data-toggle="tooltip", data-placement="top", data-original-title="#{type.description}")
      br
      | #{type.name}
      br
      br
      img.projectItemImage(src="#{type.imageUrl}")
