.well
  .row
    .col-xs-12
      h4 Click the <em>Choose File</em> button to find your resource file.
      h5 You will be able to use the resource on a temporary basis--until it is judged compliant with TechGroms's standards.
  .row
    .col-xs-5
      br
      input#imageFile(type="file" name="userImage" accept="image/*")
      #ISPhase2(style="display:none;")
        label.control-label(for="ISName", style="margin-top:6px;") Name
        input.form-control#ISName(type="text", placeholder="Enter image name.")
        br
        label.control-label(for="ISTags") Description
        br
        textarea.form-control#ISTags(name="tags" spellcheck=true cols=40 rows=2 placeholder="Enter a brief description to help you (and others) search for this image later.")
        br
        button.btn.btn-info#ISSaveBtn(type="button") Save &amp; Select Image
        | &nbsp;&nbsp;&nbsp;
        button.btn.btn-info#ISResetBtn Reset
    .col-xs-7
        canvas#iSCanvas.img-responsive
  br
  .well#ISNewLocalWell