//- Jade DOM for the New Method dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms Method must have a <em>name</em> and it must be identified as a <em>statement</em> or an <em>expression</em>.
        | It may optionally have a number of <em>tags</em> or an <em>image</em> that will help you search for it later.
        | And it may have <em>symbolic parameters</em> for referencing values that are passed in when the method is called.
      br
  .row
    .col-xs-6
        .col-xs-4
            label.control-label(for="MethodName", style="margin-top:6px;") Name
        .col-xs-8
            input.form-control#MethodName(type="text", placeholder="Enter method name.")
        br
        br
        .col-xs-4
            label.control-label(for="MethodDescription", style="margin-top:6px;") Description
        .col-xs-8
            textarea.form-control#MethodDescription(spellcheck=true cols=40 rows=2 placeholder="Optional method description.")
        br
        br
        br
        .col-xs-4
            label.control-label(for="MethodTags", style="margin-top:6px;") Search tags
        .col-xs-8
            textarea#MethodTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Optionally enter words to help you search for this method later.")
    .col-xs-6
      .row
        br
        .col-xs-3
          label.control-label(for="MethodType", style="margin-top:20px;") Method type
        .col-xs-9
            input#StatementRadio(type='radio' name='MethodType' value="0" style="width:25px;")
            span
              | Statement
            img#StatementImg
            br
            input#ExpressionRadio(type='radio' name='MethodType' value="1" style="width:25px;")
            span
              | Expression
            img#ExpressionImg
      .row
        br
        .col-xs-3
          label.control-label(for="MethodParams", style="margin-top:6px;") Parameters
        .col-xs-9
          textarea.form-control#MethodParams(cols=40 rows=2 placeholder="Enter optional method parameters.")
  .row.tt-selector
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="ProjectImage", style="margin-top:6px;")  Method image
      .col-xs-2
        img#MethodImage.img-responsive
      .col-xs-8
        br
        button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" title="Search for a Method Image")
          span.glyphicon.glyphicon-search(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Method Image using a URL")
          span.glyphicon.glyphicon-cloud-download(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Method Image that's already on your computer")
          span.glyphicon.glyphicon-open-file(aria-hidden="true")
