//- Jade DOM for the New Method dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms Method has a <em>name</em>, an identifying <em>image</em> and a number of <em>tags</em> that will help you or others search for it later.
        | You may also enter a longer description of your method.
  .row
    .col-xs-12
        .col-xs-2
            label.control-label(for="MethodName", style="margin-top:6px;") Name
        .col-xs-4
            input.form-control#MethodName(type="text", placeholder="Enter method name.")
        br
        br
        .col-xs-2
            label.control-label(for="MethodDescription", style="margin-top:6px;") Description
        .col-xs-10
            textarea.form-control#MethodDescription(spellcheck=true cols=40 rows=2 placeholder="Optional method description.")
        br
        br
        br
        .col-xs-2
            label.control-label(for="MethodTags", style="margin-top:6px;") Search tags
        .col-xs-10
            textarea#MethodTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Optionally enter words to help you search for this method later.")
  .row.tt-selector
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="ProjectImage", style="margin-top:6px;")  Method image
      .col-xs-2
        img#MethodImage.img-responsive
      .col-xs-8
        button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Search for a Method Image" aria-label="Search for a Method Image")
          span.glyphicon.glyphicon-search(aria-hidden="true")
        br
        br
        button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new Method Image using a URL" aria-label="Load a new Method Image using a URL")
          span.glyphicon.glyphicon-cloud(aria-hidden="true")
        br
        br
        button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new Method Image that's already on your computer" aria-label="Load a new Method Image that's already on your computer")
          span.glyphicon.glyphicon-hdd(aria-hidden="true")
