//- Jade DOM for the login dialog. 
//-

.well
  .row
    #SigninForm
      | Please sign in
    input#inputUsername.form-control(type="text" name="userName" placeholder="Enter your user name" required autofocus)
    br
    input#inputPassword.form-control(type="password" name="password" placeholder="Password" required)
    br
    button#SignInButton.btn.btn-lg.btn-primary.btn-block
      | Sign in
