//- Jade DOM for the Generic Rename dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | Multi-purpose Rename Dialog.
  .row
    .col-xs-12
        .col-xs-2
            label.control-label(for="Name", style="margin-top:6px;") Name
        .col-xs-4
            input.form-control#Name(type="text")
    
