//- Jade DOM for the New Event dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | An Event requires only a <em>name</em>.
  .row
    .col-xs-12
        .col-xs-2
            label.control-label(for="EventName", style="margin-top:6px;") Name
        .col-xs-4
            input.form-control#EventName(type="text", placeholder="Enter event name.")
