//- Jade DOM for the Generic Rename dialog. 
//-
.well
  .row
    .col-xs-12
        .col-xs-4
            label#RenameLabel.control-label(for="RenameInput", style="margin-top:6px;")
        .col-xs-4
            input#RenameInput.form-control(type="text")
    
