//- Jade DOM for the Comics dialog. 
//-
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-12
      h4 1. Open the project whose comic(s) you want to create or edit.
      h4 2. 
      br

  .row
    .col-xs-12
          br
  .row
    .col-xs-12
          br
          .well#ComicsWell
