//- Jade DOM for the model dialog. 
//-
//- Dialog displays really nothing.
//-

//- All in a well--should be panel?
.well
  .row
    .col-xs-9
      h4 This is a prototype dialog. Its wiring serves as a model for future dialogs.
      br
