//- Jade DOM for the AZUsersDialog. 
//-
#tabs
  ul
    li
      a(href='#Users') Users
    li
      a(href='#Permissions') Permissions
    li
      a(href='#Usergroups') Usergroups
  #Users
    .well
      .row
        .col-xs-12
          h5
            | This is a verticallay scrolling list of users showing id, userName (email), first and last names, zipcode and usergroupId or name.
            | userId and userName are not editable. Everything else is. No adding users here or anything to do with passwords. Yet.
          br
          table#UsersTable.display(style="width:100%;")
  #Permissions
    .well
      .row
        .col-xs-12
          h5
            | This tab has a datatable of premissions: id, permission. Editing and deletion are disallowed, since a permission might
            | be in use in the app. All that is allowed is adding a new permission. After one is added, it is available for use in the app.
          br
          table#PermissionsTable.display(style="width:100%;")
          br
      .row
        .col-xs-12
            label(for="AddPermissionBtn") Add a New Permission
        .col-xs-4
            input.form-control#Permission(type="text" placeholder="Permission name")
        .col-xs-1
            button#AddPermissionBtn.btn.btn-default(type="button" title="Add a Permission" style="margin-left: -20px;")
                span.glyphicon.glyphicon-plus(aria-hidden="true")
        .col-xs-7
  #Usergroups
    .well
      .row
        .col-xs-12
          h5
            | This will be a vertically scrollable list of all usergroups showing id, name and horizontally scrolling columns for each permission with a checkbox which is checked if the usergroup contains that permission.
            | All of the checkboxes are available for change. Usergroups cannot be deleted, but their names can be changed. A new usergroup can be added, named and filled with permissions.
          br
          table#UsergroupsTable.display(style="width:100%;")
          br
      .row
        .col-xs-12
            label(for="AddUsergroupBtn") Add a New Usergroup
        .col-xs-4
            input.form-control#Usergroup(type="text" placeholder="Usergroup name")
        .col-xs-1
            button#AddUsergroupBtn.btn.btn-default(type="button" title="Add a Usergroup" style="margin-left: -20px;")
                span.glyphicon.glyphicon-plus(aria-hidden="true")
        .col-xs-7
