//- Jade DOM for the AZUsersDialog. 
//-
.well
  .row
    .col-xs-12
      h4(style="margin-top:-8px;")
        | Permissions
.well
  .row
    .col-xs-12
      h4(style="margin-top:-8px;")
        | User groups
.well
  .row
    .col-xs-12
      h4(style="margin-top:-8px;")
        | Users
