//- Jade DOM for Class Details
//-
//-

br
br
.col-xs-2
    label.control-label(for="ProjectDescription", style="margin-top:6px;") Class Description
.col-xs-10
    textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Enter a complete description of your Class.")
