//- Jade DOM for the New Project dialog. 
//-
.well
  .row
    .col-xs-12
      h4 
        | A TechGroms project has a <em>name</em>, an identifying <em>image</em> and a number of <em>tags</em> that will help you or others search for it later.
        | You may also enter a longer description of your project.
      h5
        | You may enter them now or you may wait until you've started working on the project and understand what it does.
  .row
    .col-xs-12
        .col-xs-2
            label.control-label(for="ProjectName", style="margin-top:6px;") Name
        .col-xs-4
            input.form-control#ProjectName(type="text", placeholder="Enter project name.")
        br
        br
        .col-xs-2
            label.control-label(for="ProjectDescription", style="margin-top:6px;") Description
        .col-xs-10
            textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Optional project description.")
        br
        br
        br
        .col-xs-2
            label.control-label(for="ProjectTags", style="margin-top:6px;") Search tags
        .col-xs-10
            textarea#ProjectTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Optionally enter words to help you search for this project later.")
  .row.tt-selector
    br
    .col-xs-12
      .col-xs-2
        label.control-label(for="ProjectImage", style="margin-top:6px;")  Project image
      .col-xs-2
        img#ProjectImage.img-responsive
      .col-xs-8
        br
        button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Search for a Project Image" aria-label="Search for a Project Image")
          span.glyphicon.glyphicon-search(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new Project Image using a URL" aria-label="Load a new Project Image using a URL")
          span.glyphicon.glyphicon-cloud-download(aria-hidden="true")
        | &nbsp;&nbsp;&nbsp;
        button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" data-toggle="tooltip" title="Load a new Project Image that's already on your computer" aria-label="Load a new Project Image that's already on your computer")
          span.glyphicon.glyphicon-open-file(aria-hidden="true")
.well
  .row
    .col-xs-12
      p
        | In the real world, this well will not be present and only Create Project Type 2 will be present (without "Type 2").
        | I.e., a new project, created from scratch by a user, will not have comics, just types and their contents.
        | Both Types 0 and 1 will be loaded only by Searching--and, of course, someone can load a Type 2 by Searching, too.
      | &nbsp;&nbsp;&nbsp;&nbsp;Project Type 0 loads a project that has comics and examples of everything else.
      br
      | &nbsp;&nbsp;&nbsp;&nbsp;Project Type 1 is an example of a class or product with Comics and panels, but only an App Type in the first Comic.
      br
      | &nbsp;&nbsp;&nbsp;&nbsp;Project Type 2 is a non-class, non-product project; i.e., one that a student would create to work from scratch.
