//- Jade DOM for the New Project dialog. 
//-
.well
    #DescriptionDiv.row
        h4(style="margin-top:-5px;")
          | <b>Enter details for your new Project.</b>
        h5
          | Only Name is required. However, consider changing the default image for id purposes.
        br
        .col-xs-2
              label.control-label(for="ProjectName", style="margin-top:6px;display:block;text-align:right;") Name
        .col-xs-4
              input.form-control#ProjectName(type="text", placeholder="Enter project name.")
        .col-xs-6
        br
        br
        .col-xs-2
                  label.control-label(for="ProjectDescription", style="margin-top:6px;display:block;text-align:right;") Description
        .col-xs-10
                  textarea.form-control#ProjectDescription(spellcheck=true cols=40 rows=2 placeholder="Optional project description.")
        br
        br
        br
        .col-xs-2
                label.control-label(for="ProjectTags", style="margin-top:6px;display:block;text-align:right;") Search tags
        .col-xs-10
                textarea#ProjectTags.form-control(spellcheck=true cols=40 rows=2 placeholder="Optionally enter words to help you search for this project later.")
    .row.tt-selector
      br
      .col-xs-2
          label.control-label(for="ProjectImage", style="margin-top:6px;display:block;text-align:right;")  Project image
      .col-xs-2
          img#ProjectImage.img-responsive
      .col-xs-8
          br
          button#ImageSearchLink.btn.btn-default.disabledifnoproj(type="button" title="Search for a Project Image")
            span.glyphicon.glyphicon-search(aria-hidden="true")
          | &nbsp;&nbsp;&nbsp;
          button#NewImageURLLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Project Image using a URL")
            span.glyphicon.glyphicon-cloud-download(aria-hidden="true")
          | &nbsp;&nbsp;&nbsp;
          button#NewImageDiskLink.btn.btn-default.disabledifnoproj(type="button" title="Load a new Project Image that's already on your computer")
            span.glyphicon.glyphicon-open-file(aria-hidden="true")
