//- Jade DOM for the New Project dialog. 
//-
.well
    .row
      .col-xs-12
        | Choose the type of Project you wish to create by clicking on its picture.
        br
        br
    .row
      .col-xs-1
      .col-xs-2
        img#GameImage.tt-selector.img-responsive(alt="Game Project" title="Game Project")
      .col-xs-2
        img#ConsoleImage.tt-selector.img-responsive(alt="Console App Project" title="Console App Project")
      .col-xs-2
        img#WebSiteImage.tt-selector.img-responsive(alt="Web Site Project" title="Web Site Project")
      .col-xs-2
        img#HoloLensImage.tt-selector.img-responsive(alt="HoloLens Project" title="HoloLens Project")
      .col-xs-2
        img#MappingImage.tt-selector.img-responsive(alt="Mapping Project" title="Mapping Project")
      .col-xs-1
