//- Jade DOM for the New Project dialog. 
//-
.well
    .row
      .col-xs-12
        | Choose the type of Project you wish to create by clicking on its picture.
        br
        br
    .row
      .col-xs-2
        img#GameImage.tt-selector.img-responsive(alt="Game Project" title="Game Project")
      .col-xs-2
        img#ConsoleImage.tt-selector.img-responsive(alt="Console App Project" title="Console App Project")
      .col-xs-2
        img#WebSiteImage.tt-selector.img-responsive(alt="Web Site Project" title="Web Site Project")
      .col-xs-2
        img#HoloLensImage.tt-selector.img-responsive(alt="HoloLens Project" title="HoloLens Project")
      .col-xs-2
        img#MappingImage.tt-selector.img-responsive(alt="Mapping Project" title="Mapping Project")
      .col-xs-2
        img#EmptyImage.tt-selector.img-responsive(alt="Empty Project" title="Empty Project")
    .row#PrivilegedUsersDiv(style="display:none;")
      br
      .col-xs-12
        | As a privileged user, besides being able to create Normal projects, you may be allowed to create a Class or a Product. Choose here:
        br
      .col-xs-1
      .col-xs-10(style='margin-left:5px;margin-top:5px;')
          .tt-selector(title="Create a new project based upon the selected Core project. No comic editing. No System Type editing. You will assign a name and Saving will save it as an entirely new project. The project will have the one comic it gets from the selected Core project.")
            label
              input#rad1(type='radio' name='sr' value='1' checked)
              | &nbsp;Normal project
            br
          #CreateClassesDiv.tt-selector(style="display:none;" title="Create a new Class project based on the selected Core project. Class information (location, schedule, description, etc.) will be entered (but can be edited later). Comics can be added, edited and deleted. The Class will be saved as inactive (invisible to students) untiled opened and made active. System Types may be edited.")
            label
              input#rad2(type='radio' name='sr' value='2')
              | &nbsp;Class
            br
          #CreateProductsDiv.tt-selector(style="display:none;" title="Create a new Product project based on the selected Core project. Product information (name, description, price, pictures, etc.) will be entered (but can be edited later). Comics can be added, edited and deleted. The Product will be saved as inactive. System Types may be edited.")
            label
              input#rad3(type='radio' name='sr' value='3')
              | &nbsp;Product
            br
          #CreateOnlineClassesDiv.tt-selector(style="display:none;" title="Create a new Online Class project based on the selected Core project. An Online Class is a way to reach dozens or hundreds of students at once. Class information (name, description, price, pictures, etc.) will be entered (but can be edited later). Comics can be added, edited and deleted. The Class will be saved as inactive. System Types may be edited.")
            label
              input#rad4(type='radio' name='sr' value='4')
              | &nbsp;Online Class
      .col-xs-1
