.well
  .row
    | Type in a search string.  We'll try to find the resource you're looking for.
    br
    .row
      br
      .col-xs-2
        label.control-label(for="ISSearchInput", style="margin-top:8px;") Search string
      .col-xs-6
        input.form-control#ISSearchInput(type="text", placeholder="Enter a description of the image you are looking for.")
      .col-xs-4
        button.btn.btn-info#ISInnerSearchButton Search
      br
    .row
      .col-xs-3
      .col-xs-9
        label.checkbox
          input#cb1(type='checkbox')
          | Limit retrieved images to those I created
    br
    .row
      .well#ISWellMsg(style="display:none;")
      .col-xs-11#IStoolstriprow
          #IStoolstrip.ScrollRegionRow
      .col-xs-1